/* Write your CSS! */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #4D3650;
  color: white;
  height: 100%; }

h1 {
  color: #FFBC49;
  margin-top: 120px; }

p {
  font-size: 24px;
  font-weight: 200; }

a {
  color: white;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: white; }

.orange-footer {
  background-color: #F8B23A;
  height: 100px;
  text-align: center;
  line-height: 100px; }
  .orange-footer a {
    text-align: center; }

.link-con {
  margin-top: 50px; }

.content-con {
  margin-top: 150px; }

@media (max-width: 991px) {
  html, h1, p, a, .link-con {
    text-align: center; }

  h1 {
    margin-top: 50px; }

  .orange-footer {
    margin-top: 50px; }

  .content-con {
    margin-top: 50px; } }
