<!-- $title Schedule - The only employee schedule template you need is your own -->
<!-- $metadescription Forget about downloading scheduling templates and make your own in minutes. A template has to fit your business. -->
<!-- $body index2 -->
<!-- $langMeta about-us.html -->
<!-- @include _header -->
  <section>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>About us</h2>
        <p>Smartplan was founded in 2013 by the entrepreneurs Mathias Aggerbo, Mikkel Aggerbo and Peter Møller and is an online employee scheduling software company based in Aarhus, Denmark.</p>

        <p>Smartplan was created in order to fulfill a need to replace the outdated Excel spreadsheets as well as the big, complex employee management systems used to create and manage employee schedules. Our idea was to create a simple and easy yet powerful system that would benefit the schedulers of the world by bringing their schedules online.</p>

        <p>The flexible and powerful features of Smartplan’s intelligent shift scheduling enable our users to save time, effort and money on management tasks by eliminating manual processes and paper-based systems.</p>
        <p>Smartplan is usable for all types of businesses and industries around the world from cafés, bars and hotels to healthcare and public services. We deliver innovative scheduling solutions for every need. Our business philosophy is to be honest and transparent with simple and unmistakable prices. We work hard every day to ensure that our system works for our users and is up-to-date.</p>
        <p><b>Happy planning!</b></p>
      </div>
    </div>
  </section>
<!-- @include _footer -->
