<!-- $title Bar Smil uses automatic shift planning with Smartplan -->
<!-- $metadescription See how the manager at Bar Smil saves time when planning shifts. -->
<!-- $body fairbar -->
<!-- $langMeta bar-uses-smartplan.html -->
<!-- @include _header -->
  <section>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <h1>Online Scheduling Helps Bar With Event Planning</h1>
        <div class="videoWrapper">
            <iframe width="1280" height="750" src="//www.youtube.com/embed/IHFiXTt61rU?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Bar Smil is a Danish bar located in Denmark’s second largest city, Aarhus. It’s a small bar with music, dancing and a cozy atmosphere. The bar employs 30 people, all with individual wishes as to when they are able to work </p>
        <p>Bartender and responsible for shift scheduling, Steffen Bomholt Kristensen, uses Smartplan to plan shifts fast and efficiently, so that he has time for other tasks. He explains how the ability to manage employees’ requests as well as Smartplan Magic are especially useful features in the planning process at Bar Smil:</p>
      </div>
      <div class="col-md-3 col-md-offset-1 center">
        <img src="/assets/steffen.png"  class="img-responsive">
      </div>
      <div class="col-md-7">
        <p class="quote blue">”The feature I like the most is Smartplan Magic. It’s very easy to make a shift schedule when you can open up for requests and then just push one button and the schedule makes itself!”</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        <h2>Eventplanning in Smartplan</h2>
      </div>
      <div class="col-md-6">
        <p>Bar Smil is often busy, sometimes more than others. An especially busy time is during Aarhus Festuge, a yearly festival in Aarhus with music, theatre, exhibitions and other cultural initiatives. Bar Smil also arranged different events during the festival this year and Smartplan assisted in smoothing the process, Steffen says:</p>
      </div>
      <div class="col-md-6">
        <p class="quote blue">”Not all of our events during the festival were planned in good time. Using Smartplan was therefore a huge help as the system easily lets me put in extra shifts in an already published schedule. Also, Smartplan makes sure that the schedule and changes are visible to the employees right away.”</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        <h2>Before Smartplan</h2>
      </div>
      <div class="col-md-6">
        <p>Before using Smartplan, Steffen made the shift schedule by first publishing a Doodle where the employees entered their time-off requests. He then had to juggle all their wishes and try to make out a schedule in Excel that worked for everybody – a tiresome and time-consuming task. </p>
      </div>
      <div class="col-md-6">
        <p class="quote blue">“Overall, Smartplan has made the shift planning process much easier!”</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h2>How Steffen Edits a Published Shift Schedule</h2>
      </div>
      <div class="col-md-9 margin-top-40">
      <img src="/assets/barsmil/SS1.png" class="img-responsive border" />
      </div>
      <div class="col-md-3 margin-top-40">
        <p>When Steffen wants to edit a published shift schedule (as he did during the festival) he chooses <b>Edit Schedule</b>. If he wants to add an extra bartender to a shift, he chooses <b>Edit Schedule</b>. The schedule is now pulled back to the planning stage, which means the employees are still able to see the schedule, but they cannot make changes such as swapping.</p>
      </div>
      <div class="col-md-9 margin-top-40">
      <img src="/assets/barsmil/SS2.png" class="img-responsive border" />
      </div>
      <div class="col-md-3 margin-top-40">
        <p>Now Steffen can click <b>Edit period</b> on the top bar of the shift he wants to edit. The shift can now be edited according to time period, or he can add a shift (Add shift). When he’s done, he changes the schedule state from Schedule is being edited to Save changes and <b>publish schedule</b>. The employees will get notifications that the schedule has been edited. </p>
      </div>
    </div>
  </section>
    <!-- @include _signup -->
    <!-- @include _footer-link -->
  <!-- </div> -->

<!-- @include _footer -->
