<!-- $title Easy and fast communication around your employee schedule -->
<!-- $metadescription Send out important messages and make sure your employees never miss a thing. -->
<!-- $body index2 -->
<!-- $langMeta communication-with-smartplan.html -->
<!-- @include _header -->
  <section class="communication-sneak">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/msg.png" class="img-responsive"/>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Easy and Fast Communication</h2>
        <span class="subheader" translate="yes">Send out important messages via email and text.</span>
        <p>Good and precise communication is key to a well-functioning workplace.  Whether it’s information about a new routine or a reminder of something that an employee has to remember, it’s important that the right person gets the message. Therefore, Smartplan has made it possible to communicate fast and easy in the shift schedule.</p>
        <p>To make sure that only the relevant employees get the information, you can chose to address one or several employees as well as one or more job positions. For a more general message, you can also write to all employees at once. When launching a new drink, announcing an event or making John aware that he forgot to lock the door, Smartplan ensures that your message is delivered.</p>
        <p><b>Type your message, choose your receivers and hit send!</b></p>
      </div>
    </div>
  </section>
  <section class="phone-alerts">
    <div class="row">
      <div class="col-md-6">
        <h2>Texts and Email System</h2>
        <p>Sometimes a message is particularly important or has to reach an employee fast. Smartplan offers the possibility of sending texts and emails, which is useful when making changes in a schedule that the employee needs to know by the minute. Also, if you wish to remind employees of shifts or if you as the administrator want to receive a text when a shift has been swapped, Smartplan can assist you.</p>
        <p><i>To send a text or an email, you just write your message as usual, select receivers, check mark SMS or email and hit send. Smartplan will send you a notification if you go to Notifications and SMS under Settings and choose which notifications you want.</i></p>
      </div>
        <div class="col-md-4 col-md-offset-1 col-sm-6 center">
          <div class="notification-con">
            <img src="/assets/mobile/first-text.png" class="wow bounceIn animated img-responsive"/>
            <img src="/assets/mobile/cal-notification.png" class="wow bounceIn animated img-responsive" data-wow-delay="1s"/>
            <img src="/assets/mobile/second-text.png" class="wow bounceIn animated img-responsive" data-wow-delay="2s"/>
          </div>
        </div>
    </div>
  </section>
  <section class="">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h2>You Control Your Spending</h2>
        <p>It is entirely up to you as the administrator, how many texts and emails will be sent. With a few check marks, you decide when and how Smartplan should send texts and emails. You can also choose which administrators or even employees should have authority to activate texts and emails.</p>
        <p>Emails are of course free of charge and Smartplan offers the best market price on texts. We sell texts in packages of 400 pcs. at the price of <b>&pound;17</b>. This means a price of just <b>&pound;0.0425 per text</b>. In the settings, you can follow how many texts have been sent, how many you have left and buy new texts.</p>
      </div>
      <div class="col-md-12 col-sm-12 center">
        <img src="/assets/msg/notification-settings.png" class="img-responsive">
      </div>
    </div>
  </section>
<!-- @include _footer-link -->
<!-- @include _footer -->
