<!-- $title Have a question? Feel free to contact us. -->
<!-- $body contact -->
<!-- $langMeta contact.html -->
<!-- @include _header -->
  <section class="questionHead">
    <div class="row">
      <div class="col-md-8 center col-md-offset-2">
        <h1>Can we help you?</h1>
        <span class="subheader" translate="yes">Please let us know if you have any questions.</span>
        <p class="q-btn button">Ask us anything</p>
      </div>
    </div>
  </section>
  <section class="qa">
    <div class="row">
      <div class="col-md-12">
        <h2>Frequently asked questions</h2>
      </div>
      <div class="col-md-6">
        <h3>How much does it cost?</h3>
        <p>
          Our prices start at just $19 per month. Regardless of what plan you choose, you get the full functionality of Smartplan. You can see all of <a href="price.html" alt="Smartplan prices">our prices here</a>.
        </p>
        <p>
          We also offer you to try Smartplan before you pay anything. For 30 days, everything is free with no obligations and no credit card required.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Is the price fixed?</h3>
        <p>
          Yes. The price is monthly and fixed depending on the number of your employees listed in Smartplan. So if you have 20 or less employees, your price is &pound;10 per month.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Does Smartplan have an App?</h3>
        <p>
          We are in the making of an app for iPhones to make it even easier for you to use Smartplan. Until then, you can use our web-app customised for all smartphones, if you open your Smartplan account from the browser on your smartphone. Stay tuned on our website and social media for updates on our app.
        </p>
      </div>

      <div class="col-md-6">
        <h3>What happens when my free trial expires?</h3>
        <p>
          When you approach the ending of your trial, Smartplan will ask you to pick a plan for your company. If you choose a plan, Smartplan will charge your credit card every month for as long as you wish to use Smartplan. You only pay one month ahead, and if you delete your account, Smartplan won't charge you again.
        </p>
        <p>
          If your trial expires and you don't choose a plan, we will freeze your account. All your data is saved and your employees will still have access to your schedules.
        </p>

      </div>
    </div>
  </section>
  <div class="modal fade" id="contact-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Send your request</h4>

        </div>
        <div class="modal-body">
          <iframe height="300" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://smartplanapp.wufoo.com/forms/mjq2ade1ibf73v/"><a href="https://smartplanapp.wufoo.com/forms/mjq2ade1ibf73v/">Fill out my Wufoo form!</a></iframe>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- @include _case-fairbar -->
  <!-- @include _signup-more -->
  <!-- @include _footer-link -->
<!-- @include _footer -->
