<!-- $title Employee Scheduling that makes everyone a better planner -->
<!-- $metadescription Plan with a template, respond to requests or let Smartplan magic do the work. Smartplan helps you bring your schedule online.  -->
<!-- $body index2 -->
<!-- $langMeta employee-schedule-template.html -->
<!-- @include _header -->
  <section class="blue-head no-border center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
          <h1>One System - Great Functionality</h1>
          <p>Excel sheets or paper are simple, yet complicated when it comes to scheduling. Exclude all the complicated elements and make your life easier by using Smartplan, which is one of the most simple and accommodating systems on the market.</p>
      </div>
    </div>
  </section>
  <section class="template no-bot-padding">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/template-scheduling/template-screen.png" class="template-schedule">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>The Template Designed for You and Your Business</h2>
        <p>We have made it easy for you to get started, since Smartplan has a template feature. This feature helps you plan your first schedule or functions as a time-saving tool later on when creating the upcoming schedules. A few clicks and your template knows what shifts your first day contains. Without you doing anything, Smartplan automatically copies your template to the schedule you are planning. Change something in your template and Smartplan will update the rest of your schedule. Customize the template for exactly your needs.</p>
      </div>
    </div>
  </section>
  <section class="template" id="copy-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Keep Track of Your Business</h2>
        <p>With an Excel sheet or paper, it can be difficult to get an overview of the planned and actual shift hours used - but it doesn’t have to be so. Anytime you assign a shift in your template, Smartplan copies it to your schedule and calculates how many hours you used. The sidebar in the planning tool ensures that you constantly know how many hours you planned and how many need planning. It even notifies you if there are any conflicting shifts so that every shift is always correctly covered.</p>
      </div>
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/template-scheduling/screen-sidebar-small.png" class="img-responsive border">
      </div>
    </div>
  </section>
  <section class="template" id="hour-section">
    <div class="row">
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/template-scheduling/screens-copy-small.png" class="img-responsive border">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Quick and Streamlined Scheduling</h2>
        <p>Scheduling shifts often involves a massive amount of repetition. Save time by using Smartplan’s copy icon to copy a shift, a day or a whole week with just a few clicks. Smartplan relieves the burden of scheduling and allows you to spend more time running your business.</p>
      </div>
    </div>
  </section>
  <section class="wish-expl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <h2>Take Your Employees’ Needs Into Consideration</h2>
        <p>Asking your employees when they are unable to work not only creates good workplace relations, it also ensures a more harmonic employee schedule with a smaller risk of changes and problems. The coordination can, however, be time-consuming and a subject to mistakes - unless you let Smartplan do the work. Just customize your schedule template and your scheduling needs, and Smartplan collects the inputs from your employees.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 bio-con">
        <div class="bio selected" id="charlotte-bio">
          <img src="/assets/wish/avatar-charlotte.png" />
          <span class="name">Charlotte Harrington</span>
          <p>I can't work thursday every odd week. Besides that I can't work 19th of May after 3pm</p>
        </div>
        <div class="bio" id="michael-bio">
          <img src="/assets/wish/avatar-michael.png" />
          <span class="name">Michael Johnson</span>
          <p>I can't work after 3pm, because I need to pick up my kids at the kindergarden</p>
        </div>
      </div>
      <div class="col-md-9">
        <img src="/assets/wish/charlotte-wish.png" class="wish-screen img-responsive animated" id="charlotte-screen"/>
        <img src="/assets/wish/michael-wish.png" class="wish-screen img-responsive animated" id="michael-screen" />
        <img src="/assets/wish/trans-wish.png" class="transparent img-responsive"/>
      </div>
    </div>
  </section>
  <!-- @include _footer-link -->
<!-- @include _footer -->
