<!-- $title  Easy to read online employee schedule -->
<!-- $metadescription Find what you need with a glance. Smartplans employee schedule is much more than rows of names. It’s actually readable. -->
<!-- $body schedule -->
<!-- $langMeta employee-schedule.html -->
<!-- @include _header -->
	<section class="header shiftplan-head center">
		<div class="row">
		<div class="col-md-12 col-sm-12">
				<h1>Employee Scheduling Made Simple and Easy</h1>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12 col-sm-12">
				<p class="dark subheader">Easily find what you need and click once to see details.</p>
		</div>
			<!-- @include _shiftplan.html -->
			<img src="/assets/screens_mini.png" class="img-responsive mini-image"/>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 center">
				<p>We have all been there. Surfing the world wide web for a template that can help us plan our shifts and make our lives easier. But downloading a template for employee scheduling in Excel or Word, which is confusing and difficult to read, hardly makes anything easier. In the 21st century, you need your employee schedule online - not on a disk drive in a file.</p>
			</div>
		</div>
	</section>
	<section class="no-bot-padding">
		<div class="row">
			<div class="col-md-6">
				<h2>Be a Successful Planner</h2>
				<p>With Smartplan, employee scheduling has never been more simple and straightforward. It frees you from Excel and Word sheets and allows you to quickly and easily administer your work schedule. The fact that Smartplan is an online system allows you to access your work schedule anytime and anywhere and get rid of any loose paper sheets lying around.</p>
			</div>
			<div class="col-md-6 center">
				<img src="/assets/paper-roster.png" class="paper-roster"/>
			</div>
		</div>

	</section>
	<section>
		<div class="row">
			<div class="col-md-3">
				<h2>Details Are Just One Click Away</h2>
				<p>Transparency and great accessibility is what characterises Smartplan. With just one click you are able to find what you are looking for and see all the important details in your schedule. At the same time, you will find that Smartplan gives you the best overview of both the employees, their functions and shifts as well as weeks, dates and hours to make it even more manageable. </p>
			</div>
			<div class="col-md-9">
				<video autoplay loop class="plan-video">
				  <source src="/assets/video/smartplan-plandetail.mp4" type="video/mp4">
				Your browser does not support the video tag.
				<img src="/assets/video/smartplan-plandetail-placeholder.png" />
				</video>
			</div>
		</div>
	</section>
	<section class="phone-alerts">
		<div class="row">
			<div class="col-md-6">
				<h2>Stay Updated on Changes</h2>
				<p>No more pen, paper and clumsy deletions and corrections. Smartplan allows its users to swap shifts with each other ensuring that your work schedule is kept constantly up-to-date. Simultaneously, you can easily make a change in your schedule with just a few clicks, which shows that Smartplan is one of the most user-friendly employee scheduling softwares on the market.</p>
			</div>
		  	<div class="col-md-4 col-md-offset-1 col-sm-6 center">
		  		<div class="notification-con">
			  		<img src="/assets/mobile/first-text.png" class="wow bounceIn animated img-responsive"/>
			  		<img src="/assets/mobile/cal-notification.png" class="wow bounceIn animated img-responsive" data-wow-delay="1s"/>
			  		<img src="/assets/mobile/second-text.png" class="wow bounceIn animated img-responsive" data-wow-delay="2s"/>
		  		</div>
		  	</div>
		</div>
	</section>
	<!-- @include _footer-link -->
<!-- @include _footer -->
<script>
 new WOW().init();
</script>
