<!-- $title Sådan slap fairbar for uoverskuelige Excel ark og fik vagtplanen online. -->
<!-- $metadescription Mød Mette som er personaleleder ved fairbar i Aarhus og hør hvordan de slap for Excel. -->
<!-- $body fairbar -->
<!-- $langMeta fairbar-uses-smartplan.html -->
<!-- @include _header -->
  <section>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <h1>Smartplan Assists Fair Bar in Handling 120 Volunteers</h1>
        <div class="videoWrapper">
            <iframe width="1280" height="750" src="//www.youtube.com/embed/xj7YQN_2BP0?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Fairbar is a non-profit café located in the heart of Aarhus, Denmark, whose profits are donated to a charity in India. The café is led by 120 volunteers comprising 60 students, who all have different wishes and needs in connection with their work schedules. It can therefore be difficult to plan the schedules, accommodate everyone’s wishes and ensure that shifts are assigned evenly.</p>
      </div>
      <div class="col-md-3 col-md-offset-1 center">
        <img src="/assets/mette.png"  class="img-responsive">
      </div>
      <div class="col-md-7">
        <p class="quote blue">“Smartplan has become one of the most important tools in my work here at Fairbar”</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6">
        <h2>How Smartplan works in everyday life at Fairbar</h2>
        <p>Mette Kousgaard, the staff manager at Fairbar, uses Smartplan to plan Fairbar’s work schedules and manage staff as effectively as possible. To get started, Mette defines how much staff she needs for a specific day and at what time. She then allows her employees to wish for time off in Smartplan, which ensures that their needs and wishes are accommodated. Lastly, Smartplan provides a suggestion for a work schedule based on both Mette’s and the employees’ inputs, which makes the whole process of employee scheduling much easier for Mette.</p>
      </div>
      <div class="col-md-6">
        <h2>Before Smartplan</h2>
        <p>Before Fairbar started using Smartplan, Mette went through a very comprehensive and tiresome process when creating Fairbar’s employee schedule every month. She used to send out an Excel sheet to every single volunteer, who then had to send back his/her reply. Hereafter, Mette sat down with the many, many Excel sheets and worked hard to make the puzzle come together, which took too long and was too confusing. With Smartplan, Mette now has everything gathered in one online system allowing her to spend less time scheduling and more time on other important tasks at Fairbar.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h2>How Smartplan Magic Makes Mette’s Shift Schedule</h2>
      </div>
      <div class="col-md-9 margin-top-40">
      <img src="/assets/fairbar/SS1-fair.png" class="img-responsive border" />
      </div>
      <div class="col-md-3 margin-top-40">
        <p><b>1.</b> At first Mette defines the Schedule Template to match her needs according to scheduling period, positions needed, timeblocks and number of employees.</p>
      </div>
      <div class="col-md-9 margin-top-40">
      <img src="/assets/fairbar/SS2-fair.png" class="img-responsive border" />
      </div>
      <div class="col-md-3 margin-top-40">
        <p><b>2. </b>Next Mette opens Smartplan for requests. She can choose how many shifts each employee as a minimum should take and she can also attach a message for her employees. </p>
      </div>
      <div class="col-md-9 margin-top-40">
      <img src="/assets/fairbar/SS3-fair.png" class="img-responsive border" />
      </div>
      <div class="col-md-3 margin-top-40">
        <p><b>3. </b>When the employees have wished for their time off, Mette clicks Suggest staffing, and Smartplan then makes a suggestion. Mette can of course make changes in the suggestion.</p>
      </div>
    </div>
  </section>
  <section class="player">
    <div class="row">
      <div class="col-md-12 center">
        <h2>Experience how Smartplan helps Fairbar</h2>
        <div class="videoWrapper">
            <iframe width="1280" height="750" src="//www.youtube.com/embed/xj7YQN_2BP0?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
    <!-- @include _clients -->
    <!-- @include _signup -->
    <!-- @include _footer-link -->
  <!-- </div> -->

<!-- @include _footer -->
