<!-- $title Fristrupminde Dairy Farm makes online shift plans with Smartplan -->
<!-- $metadescription See how the manager and owner of Fristrupminde Dairy Farm saves
time with online shift planning. -->
<!-- $body fairbar -->
<!-- $langMeta farmer-uses-smartplan.html -->
<!-- @include _header -->
  <section>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <h1>Easier rostering with Smartplan</h1>
        <div class="videoWrapper">
            <iframe width="1280" height="750" src="//www.youtube.com/embed/SQo53xmuIO0?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>In Skoerping, Denmark lies Fristrupminde - a cattle farm owned and operated by Mike Timmermann and his wife Conny. Being a farmer takes hard work and when you have to keep track of 235 dairy cows and staff, time management can become a problem. Time management, overview and control are some of the things Smartplan helps Mike and Fristrupminde to achieve.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        <h2>Smartplan Template</h2>
      </div>
      <div class="col-md-6">
        <p>The task of creating a roster can take time away from other parts of the business, but Smartplan template makes the process easier and helps save time. With the copy function, Mike no longer has to repeat himself when generating a roster in which there are identical time spans. When generating the roster, Mike will continually be able to keep track of time distribution and unmanned shifts. Mike Timmermann says:</p>
      </div>
      <div class="col-md-6">
        <p class="quote blue">”It only takes five minutes to create a new roster!”</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h2>How Mike Uses Smartplan Template and the Copy Function</h2>
      </div>
      <div class="col-md-6">
        <p>When Mike has a timespan in the roster that needs to be identical with another on a different day, he simply clicks on the timespan and drags this onto the identical weekday(s). For example, if Tuesday, Thursday and Friday in the roster need to have the same exact timespan from 11.30 am to 3.30 pm, Mike simply enters this timespan in the roster once.He can then drag and drop this onto the remaining two days and in doing so the timespan is added to all three days.</p>
      </div>
      <div class="col-md-6">
        <p>Smartplan template also helps Mike, when the roster repeats itself from week to week. Once a roster is made with a template, it is saved as a template and is then easy to copy to several weeks. Therefore, if a roster repeats itself either every, every other or every third week, Mike can easily copy the template and insert it onto the week(s), that is continuously repeated.</p>
      </div>
      <div class="col-md-12 center">
        <img src="/assets/fristrupminde/copy-timeblock.gif" class="img-responsive border" />
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        <h2>Roster generation at Fristrupminde</h2>
      </div>
      <div class="col-md-6">
        <p>With its 235 dairy cattle, two owners, three full-time employees and two helpers several things at Fristrupminde must be coordinated in order for the daily work on the farm to go smooth. Before Fristrupminde started using Smartplan, they used paper editions of their roster that were handed to the employees. However the papers were often lost, which resulted in misunderstandings. Today, thanks to Smartplan, the employees can view their work schedule on their phones and thereby have their roster at hand at any given moment. This makes perfect sense for Mike and Fristrupminde:</p>
      </div>
      <div class="col-md-6">
        <p class="quote blue">"Everyone can see when they are scheduled to work and in particular who they are working with on a specific day.”</p>
      </div>
      <div class="col-md-12 center">
        <img src="/assets/fristrupminde/fristrup-vagtplan.png" class="img-responsive border" />
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6">
        <div class="videoWrapper">
            <iframe width="1280" height="750" src="//www.youtube.com/embed/SQo53xmuIO0?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Smartphone access to Logbook and Roster</h2>
        <p>One of the features that Mike appreciates most about Smartplan is the fact that it is available on smartphones. Thereby, all employees at Fristrupminde can have their roster at hand at any given moment. Employees can easily and quickly get an overview of their upcoming shifts and swap shifts with each other directly on the phone. Smartplan also allows for Fristrupminde’s employees to get an outline of working hours as well as track and register changes using Smartplan Logbook. This means that when the workday is over, the employees can register if the working hours are as they should be, if they worked overtime or had fewer hours than planned. Mike can then easily export the time sheet from Logbook and send this to the payroll office securing that the employees’ payroll accounting is correct.</p>
      </div>
    </div>
  </section>
    <!-- @include _signup -->
    <!-- @include _footer-link -->
  <!-- </div> -->

<!-- @include _footer -->
