<!-- $title Never miss updates to your roster with the Smartplan Logbook -->
<!-- $metadescription The Logbook provides you with a complete overview of all past shifts. View a single day or an entire period. The Smartplan Logbook tells you who was at work, who came in late, and who left early. -->
<!-- $langMeta hours-overview-logbook.html -->
<!-- @include _header -->
  <section class="head no-bot-padding">
    <div class="row">
      <div class="col-md-12 center">
        <h1>Get an overview with Smartplan Log Book</h1>
      </div>
      <div class="col-md-8 col-md-offset-2 center">
        <span class="subheader" translate="yes">Smartplan Log Book provides you with an overview of the time attendance for specific days, weeks or months, so that you are always informed about the status quo of your employees and their shifts.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center">
        <img src="/assets/logbook/logbook.png" class="img-responsive">
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h2>Time Attendance</h2>
        <p>Sometimes shifts don’t go as planned. Maybe James had to leave earlier than planned one day or stay an extra 30 minutes because he still had work to do. How do you go about that? Smartplan Log Book allows you to register if you spent more or less time working than expected. The employee chooses the relevant date and states the actual hours or minutes spent working. Smartplan notifies the administrator of the changes made, which must then be accepted. That way you are always kept up-to-date on the shifts and hours used in your company and you don’t even need a time clock to administer it.</p>
      </div>
      <div class="col-md-7 col-sm-6 center">
        <img src="/assets/logbook/log-time.png" class="img-responsive">
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/logbook/excel-export-hour.png" class="img-responsive excel-export-hours">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Export Your Data to Excel</h2>
        <p>When it’s time to calculate and manage wages, you can export your data to Excel to make the process easier. Smartplan Log Book provides you with details according to employees, job types, dates or shifts to insert in your Excel sheet. Make the monthly duty of wage management an easier task by letting Smartplan Log Book assist you.</p>
      </div>
    </div>
  </section>
  <!-- @include _footer-link -->
<!-- @include _footer -->
