<!-- $title Employee Scheduling - Bring your schedule online. -->
<!-- $metadescription Make life easier, bring your shifts online. Smartplan provides everything you need to schedule your shifts and communicate with employees. Anytime. Anywhere. -->
<!-- $body index_ipad -->

<!-- $customLang <link rel="alternate" hreflang="da-dk" href="https://www.smartplan.dk/"/> -->

<!-- @include _header -->
  <section class="header no-border no-bot-padding no-top-padding">
  	<div class="row center">
  		<div class="col-md-10 col-md-offset-1 col-sm-12">
  				<h1>Plan your shifts the simple and easy way</h1>
          <p class="dark subheader">Make life easier, bring your shifts online. Smartplan provides everything you need to <a href="employee-schedule.html">schedule</a> your shifts and <a href="communication-with-smartplan.html">communicate</a> with employees. Anytime. <a href="smartplan-on-phone-and-tablet.html">Anywhere</a>.</p>
  		</div>
      <div class="col-md-12 ipad-con center">
        <img src="/assets/screens_mini.png"  class="animated fadeInUp ipad-img"/>
      </div>
  	</div>
  </section>
  <section class="no-border">
    <div class="row center">
      <div class="col-md-4">
        <h3 class="big-header">Become a faster and happier planner</h3>
        <p>Smartplan is simple and easy to use. We have build it to serve your <a href="employee-schedule-template.html">planning needs</a>.</p>
      </div>
      <div class="col-md-4">
        <h3 class="big-header">Relax. Your shifts are under control</h3>
        <p>Smartplan gives you an easy overview of your schedule, whether you are on the office or <a href="smartplan-on-phone-and-tablet.html">on the go</a>. Never miss a beat.</p>
      </div>
      <div class="col-md-4">
        <h3 class="big-header">Communicating work fast and easy</h3>
        <p>Smartplan makes sure you and your employees stays on top. Have an <a href="communication-with-smartplan.html">important message</a>? Send it with just a few clicks.</p>
      </div>
    </div>
  </section>
  <!-- @include _signup-more -->
  <section>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
          <h2>A happy customer about Smartplan:</h2></br>
          <div class="videoWrapper">
              <iframe width="1280" height="750" src="//www.youtube.com/embed/xj7YQN_2BP0?cc_load_policy=1&modestbranding&showinfo=0&showinfo=0&autohide=1&rel=0&vq=hd720" frameborder="0" allowfullscreen translate-attrs="src"></iframe>
          </div>
        </div>
      </div>
  </section>
<!-- @include _features -->
  <section>
    <div class="row center">
      <a class="blue-btn-lg no-dec" href="signup.html" translate="yes">Try Smartplan for free today!</a>
    </div>
  </section>
<!-- @include _footer-link -->
<!-- @include _footer -->
