<!-- $title Prices from just &pound;10/month. Free 30 day trial. -->
<!-- $metadescription Our pricing is simple and surprise free. No obligations, no contracts. Just simple low prices and monthly payments. -->
<!-- $body prices -->
<!-- $langMeta price.html -->
<!-- @include _header -->
  <section class="plan-pricing">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 center">
        <h1>Our prices are as simple as our employee schedule.</h1>
        <span class="subheader" translate="yes">Pay as you go. No contract. Try it for free.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul>
          <li translate="yes">Prices start at only &pound;10/month. Regardless of the plan you choose, you receive <a href="smartplan-features.html">full site functionality.</a></li>
          <li translate="yes">Get a 30-day free trial with unlimited use and no obligations.</li>
          <li translate="yes">Smartplan is contract free with pay-as-you-go monthly payments.</li>
          <li translate="yes">No credit card required – try out Smartplan free of charge.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="price-table">
          <div class="cell">
            <span class="price-tag" translate="yes">&pound;10/month</span>
            <span class="price-sub" translate="yes">Schedule up to 15 employees</span>
            <a href="https://smartplanapp.io/get-started/" class="no-decoration"><span class="btn content-btn" translate="yes">Start 30-day trial</span></a>
          </div>
          <div class="cell">
            <span class="price-tag" translate="yes">&pound;20/month</span>
            <span class="price-sub" translate="yes">Schedule up to 30 employees</span>
            <a href="https://smartplanapp.io/get-started/" class="no-decoration"><span class="btn content-btn" translate="yes">Start 30-day trial</span></a>
          </div>
          <div class="cell">
            <span class="price-tag" translate="yes">&pound;30/month</span>
            <span class="price-sub" translate="yes">Schedule up to 45 employees</span>
            <a href="https://smartplanapp.io/get-started/" class="no-decoration"><span class="btn content-btn" translate="yes">Start 30-day trial</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center terms">
        <p><span class="bold">All prices are total monthly prices.</span></p>
      </div>
    </div>
  </section>
  <!-- @include _case-fairbar -->
  <!-- @include _footer-link -->
<!-- @include _footer -->
