<!-- $title Try your own employee schedule -->
<!-- $metadescription Signup and bring your employee schedule online. It's free for 30 days. -->
<!-- $body signup -->
<!-- @include _header -->

<section class="header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 center">
      <h1>Try the easiest and cheapest shift scheduling, <strong>for free.</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- @include _signup-form -->
    </div>
    <div class="col-md-6 benefits sm-center">
      <h3>Get started in 2 minutes and get:</h3>
      <ul>
        <li translate="yes">Access to all of Smartplans <a href="smartplan-features.html">functions</a>, including our simple <a href="simple-time-clock.html">Time Clock</a>.</li>
        <li translate="yes"><a href="employee-schedule-template.html">Employee Scheduling</a> anyone can use.</li>
        <li translate="yes">30 day free trail with unlimited use and no obligations.</li>
        <li translate="yes">Prices from just &pound10 per month.</li>
        <li translate="yes">&pound0 in sign-on fee and free support.</li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md-12 center">
      <h2>Simple low prices based on your companys size</h2>
    </div>
    <div class="col-md-12 center margin-top-40">
      <div class="price-plan">
        <span class="price" translate="yes"><strong>&pound10</strong> /month</span>
        <span class="price-detail" translate="yes">Schedule 15 employees.</span>
      </div>
      <div class="price-plan">
        <span class="price" translate="yes"><strong>&pound25</strong> /month</span>
        <span class="price-detail" translate="yes">Schedule 30 employees.</span>
      </div>
      <div class="price-plan">
        <span class="price" translate="yes"><strong>&pound39</strong> /month</span>
        <span class="price-detail" translate="yes">Schedule 45 employees.</span>
      </div>
    </div>
    <div class="col-md-12 center">
      <p>
        <i>Have more than 45 employees? Contact us at <a href="mailto:support@trysmartplan.com">support@trysmartplan.com</a>.</i>
      </p>
      <p class="textLink" id="focusCompany">Try Smartplan 100% free</p>
    </div>
  </div>
</section>

<!-- @include _clients -->

<!-- @include _footer -->
