<!-- $title Time Clock - Register your employees time with this Simple Time Clock -->
<!-- $metadescription Simplify your time tracking and prepare your schedule for your payroll. -->
<!-- $langMeta simple-time-clock.html -->

<!-- $body punch -->
<!-- @include _header -->
  <section class="punch-header">
  	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12 center">
				<h1>Experience correct time and attendance registrations and save money with <b>Smartplan Time</b></h1>
		</div>
  	</div>
  	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-12 center">
  			<span class="dark subheader" translate="yes">Get rid of pencil and paper and confusing time sheets. Your registrations are directly integrated into Smartplan.</span>
  		</div>
  		<img src="/assets/punch/ipad-punch.png"  class="img-responsive punch-ipad animated fadeInUp"/>
  	</div>
  </section>
  <section class="no-border">
    <div class="row">
      <div class="col-md-4">
        <h3 class="all-caps">Easy configuration and access</h3>
        <p>You don’t need any special equipment or IT skills to get started with Smartplan Time. The time clock is available from all units, as long as you have access to the internet. Use a tablet, computer, iPhone Touch, smartphone or another unit with a browser.</p>
      </div>
      <div class="col-md-4">
        <h3 class="all-caps">Avoid incorrect registrations</h3>
        <p>Do you spend too much time trying to decode the time sheets from your employees? Or is it a problem for you that your employees don’t register their work hours correctly? Smartplan Time allows them to quickly and easily clock in and out and take a break.</p>
      </div>
      <div class="col-md-4">
        <h3 class="all-caps">Make your wage management clearer</h3>
        <p>The time clock is integrated directly into your Smartplan account. Get an overview of your employees’ time attendance with just a few clicks.When calculating and managing wages, you can retrieve the data from Smartplan Time and copy it into your wage system.</p>
      </div>
  </div>
  </section>
  <section class="no-border">
    <div class="row">
      <div class="col-md-12 center">
        <h2>How to use Smartplan Time as an employee</h2>
        <div class="selector">
          <span class="clock-in active" translate="yes">Punch in</span>
          <span class="clock-out" translate="yes">Punch out</span>
        </div>
      </div>
    </div>
    <div class="punch_in animated">
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center wow animated fadeInUp">
          <h2><span class="step-number green">1</span>Choose your name</h2>
          <img src="/assets/punch/pick-employee.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center wow animated fadeInUp">
          <h2><span class="step-number green">2</span>Type your private PIN code</h2>
          <img src="/assets/punch/pincode-input.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center wow animated fadeInUp">
          <h2><span class="step-number green">3</span>Choose your shift and clock in</h2>
          <img src="/assets/punch/shift-selector.png" class="img-responsive"/>
        </div>
      </div>
    </div>
    <div class="punch_out animated" style="display:none">
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center">
          <h2><span class="step-number red">1</span>Choose your name</h2>
          <img src="/assets/punch/pick-employee.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center">
          <h2><span class="step-number red">2</span>Type your private PIN code</h2>
          <img src="/assets/punch/pincode-input.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center">
          <h2><span class="step-number red">3</span>Choose your shift and clock out</h2>
          <img src="/assets/punch/shift-out-select.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row stepguide">
        <div class="col-md-10 col-md-offset-1 center">
          <h2><span class="step-number red">4</span>Define breaks and leave a note for the people in charge.</h2>
          <img src="/assets/punch/shift-out.png" class="img-responsive"/>
        </div>
      </div>
    </div>
  </section>
  <section class="no-border">
    <div class="row">
      <div class="col-md-4">
        <h3 class="all-caps">Register your breaks</h3>
        <p>You decide whether the employee should type in his break during the shift or wait until clocking out.</p>
      </div>
      <div class="col-md-4">
        <h3 class="all-caps">Easy overview of the activities of the day</h3>
        <p>The time clock shows a live list of the activities of the day. As the administrator, you can even open the time clock from your office and keep an eye on the activities.</p>
      </div>
      <div class="col-md-4">
        <h3 class="all-caps">Spontaneous clock in</h3>
        <p>Do you sometimes call in an employee, who isn’t scheduled to work? With a few extra clicks, the employee is able to clock in without a scheduled shift</p>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-md-4">
        <h3 class="all-caps">Why were you late?</h3>
        <p>When clocking out, the employees can attach a message with their registrations. This gives you an explanation, when you check the logbook for approval.</p>
      </div>
      <div class="col-md-4">
        <h3 class="all-caps">Are you ready to manage wages? Smartplan is.</h3>
        <p>Retrieve wage data in a few seconds. Open Smartplan Logbook and gain direct access to all your data from the time clock combined with data from your employee schedule.</p>
      </div>
  </div>
  </section>
<!-- @include _signup-more -->
<!-- @include _footer-link -->
<!-- @include _footer -->
<script>
 new WOW().init();
</script>
