<!-- $title Bring your schedule with you on your phone or tablet -->
<!-- $metadescription Never miss a thing. Access your employee schedule from your phone or tablet. You can even sync your shifts with your own calendar. -->
<!-- $body index2 -->
<!-- $langMeta smartplan-on-phone-and-tablet.html -->
<!-- @include _header -->
  <section class="hand-phone no-bot-padding">
  <div class="hand-phone-img-wrap">
  </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 col-sm-12 text-con">
        <h2>Bring Your Schedule With You</h2>
        <p>Using Smartplan, you never have to miss a thing. Smartplan is available on all smartphone platforms and tablets, which means that you can check your schedule, swap shifts and communicate just by picking up your phone or tablet. By typing <a href="https://trysmartplan.com">trysmartplan.com</a> in the web browser on your smartphone, you get access to Smartplans web-app, which is optimized for smartphone and tablet use. If you don’t want to type in the web address every time you need to use Smartplan, simply save the webpage as a booklet to your homescreen.</p>
      </div>
    </div>
  </section>
  <section class="no-bot-padding phone-top">
    <div class="row">
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/mobile/profile-phone.png" class="img-responsive">
      </div>
      <div class="col-md-6 col-sm-6">

        <h2>Easy Access to Smartplan</h2>
        <p>With Smartplan, you get easy access on your smartphone and tablet to all the great features that you know and use on your computer.</p>
        <p>As an administrator, you have a full overview of each employee, just as the employees can see all relevant information for them. They can see their shifts as well as check if there are unassigned shifts that they can sign up for. Also, employees are able to swap shifts on their smartphone or tablet. Of course you as the administrator can chose to get a notification every time a shift swap happens.</p>
        <p>Smartplan allows employees to correct their working hours on their smartphone and tablet. That way, they can immediately register if they stayed an extra half an hour showed up late without waiting until they get home.With Smartplan you can read and make notes from your smartphone and tablet so that your employees never miss important information.</p>

      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Sync with Google Calendar, iCal and Outlook</h2>
        <p>Smartplan synchronizes your employees’ shifts with their preferred calendar, to ensure that they do not have to manually insert every shift in their calendar. With one click, you can add your shifts to Google Calandar, iCal or Outlook – simple, fast and easy.</p>
      </div>
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/calendar-sync.png" class="img-responsive">
      </div>
    </div>
  </section>
  <!-- @include _footer-link -->
<!-- @include _footer -->
