<!-- $title Schedule Features in Smartplan - get started in minutes  -->
<!-- $metadescription Read about our features and learn how to bring your schedule online in few and easy steps. Become a better and faster planner. -->
<!-- $body index2 -->
<!-- $langMeta smartplan-features.html -->
<!-- @include _header -->
  <section class="template no-bot-padding" id="template-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Online Employee Schedule</h2>
        <p>Despite being one of the most simple and easy systems on the market, Smartplan gives you all the good and useful qualities that you need. Swapping shifts with your colleagues and making other changes are just a few clicks away freeing you from Excel sheets, pen and paper.</p>
        <p>Smartplan is not only easy to read and accommodating - it shows you the details you wish to take a look at with merely one click. We have made Smartplan user-friendly for you, because we know how frustrating and at times tiresome scheduling can be.</p>
        <a href="employee-schedule.html" translate="yes">Read more about Smartplan Employee Schedule</a>
      </div>
      <div class="col-md-6 col-sm-6">
      <img src="/assets/smartplan_safari.png" class="smartplan-safari">
      </div>
    </div>
  </section>
  <section class="template" id="hour-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/template-scheduling/screens-copy.png" class="scheduling-feature">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Easy Scheduling</h2>
        <p>Simple and straightforward scheduling systems like Smartplan, which are at the same time powerful and include numerous different functions, are rarely found in the world of software services. Smartplan makes scheduling easy and fast by providing a system manageable for everyone.</p>
        <p>Use Smartplan’s templates to get started, receive an hourly summary to stay constantly updated or try the copy functionality to avoid too much repetition. Your employees can also include their inputs by leaving comments or wishing for time off. With their and your inputs, Smartplan will make sure that no conflicts arise in the schedule you are creating.</p>
        <a href="employee-schedule-template.html" translate="yes">Read more about Smartplan Scheduling</a>
      </div>
    </div>
  </section>
  <section class="template no-bot-padding" id="copy-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Phone & Tablet</h2>
        <p>Smartplan gives you easy access to your employee schedule no matter where you are. Just open the Smartplan Web-app in your smartphone browser and you have all the great features that you use on your computer - overlooking  all shifts, checking for unassigned shifts, correcting working hours, shift swapping and writing notes for your employees.</p>
        <p>Smartplan also lets your employees synchronize their shifts with their preferred calendar – with one click, shifts are added to Google Calendar, iCal or Outlook.</p>
        <a href="smartplan-on-phone-and-tablet.html" translate="yes">Read more about Smartplan on phone and tablet here</a>
      </div>
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/phone-front.png" class="iphone-profile">
      </div>
    </div>
  </section>
  <section class="template" id="hour-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/logbook/logbook.png" class="logbook-feature">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Log book</h2>
        <p>Things rarely go exactly like planned and neither will your schedule. Sometimes you need to be able to adjust the shift hours actually spent working, because an employee stayed late or left early.Smartplan Log Book makes it easy for your employees to register and for you to administer their time attendance.</p>
        <p>Use Smartplan Log Book to export your employees’ shift data to Excel when it’s time to calculate and manage wages. Simplify your job and get time for the most important management tasks.</p>
        <a href="hours-overview-logbook.html" translate="yes">Read more about Smartplan Log Book</a>
      </div>
    </div>
  </section>
  <section class="template" id="copy-section">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Smartplan Magic</h2>
        <p>The task of creating a schedule often takes time and hinders you from taking care of other parts of your business that you find more important. With Smartplan Magic, employee scheduling is no longer a hindrance. Just one click and Smartplan Magic generates a suggestion of a schedule based on your needs and your employees’ requests. Just click Suggest Staffing and Smartplan Magic will generate a schedule suggestion. <b>It’s that easy!</b></p>
        <a href="smartplan-magic.html" translate="yes">Read more about Smartplan Magic</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="/assets/magic/show-person.png" class="img-responsive border">
      </div>
    </div>
  </section>
  <section class="template" id="hour-section">
    <div class="row">
      <div class="col-md-6 col-sm-6 center">
        <img src="/assets/msg_iphone_desk.png" class="phone-and-chat">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Easy Communication</h2>
        <p>Good and precise communication is key to a well-functioning workplace. Therefore, Smartplan has made it easy for you to communicate with your employees and for your employees to communicate with each other in relation to shift changes, swaps and reminders. You simply write your message, choose your receivers and hit send.</p>
        <p>If you need your receivers to get the message right away, you can always send them a text and/or an email. Simply check mark SMS or email. And as the administrator, you are of course in full control of how and when texts and emails are sent.</p>
        <a href="communication-with-smartplan.html" translate="yes">Read more about Smartplan Easy Communication here</a>
      </div>
    </div>
  </section>
<!-- @include _signup -->
<!-- @include _footer-link -->
<!-- @include _footer -->
