<!-- $title Make Your Employee Schedule Automatically -->
<!-- $metadescription Make your life easier with Smartplan Magic. Generate your first employee schedule based on requests and needs. -->
<!-- $body index2 -->
<!-- $langMeta smartplan-magic.html -->
<!-- @include _header -->
  <section class="no-bot-padding">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Uncomplicated Scheduling</h2>
        <p>Planning and generating an employee schedule is not always easy. Especially not if you want a simple shift overview and a proper and even distribution of the shifts. More often the task of creating a schedule takes time and hinders you from taking care of other parts of your business that you find more important. With Smartplan Magic, employee scheduling is no longer a hindrance - Smartplan Magic assists when you want and need it.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="/assets/template-scheduling/template-screen.png" class="template-schedule right">
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h2>Generate an Employee Schedule With Just One Click</h2>
        <p>With Smartplan Magic, you can generate your employee schedule with just one click. Once you have listed what shifts you need filled and at what time, Smartplan Magic does the rest. Just click Suggest Staffing and Smartplan Magic will generate a suggestion for a schedule based on your needs and your employees’ requests.</p>
      </div>
    </div>
  </section>
  <section class="wish-expl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <h2>Collect Requests From Your Employees</h2>
        <p>Smartplan allows you to open the schedule for requests from your employees before publishing the schedule. Just click Manage Requests to open the schedule for requests from employees and Smartplan will notify your employees of this. Once the requests are made, you can chose to let Smartplan Magic generate a schedule based on the requests given or you can do it manually yourself. Smartplan is your tool for flexible shift planning.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 bio-con">
        <div class="bio selected" id="charlotte-bio">
          <img src="/assets/wish/avatar-charlotte.png" />
          <span class="name">Charlotte Harrington</span>
          <p>I can't work thursday every odd week. Besides that I can't work 19th of May after 3pm</p>
        </div>
        <div class="bio" id="michael-bio">
          <img src="/assets/wish/avatar-michael.png" />
          <span class="name">Michael Johnson</span>
          <p>I can't work after 3pm, because I need to pick up my kids at the kindergarden</p>
        </div>
      </div>
      <div class="col-md-9">
        <img src="/assets/wish/charlotte-wish.png" class="wish-screen img-responsive animated" id="charlotte-screen"/>
        <img src="/assets/wish/michael-wish.png" class="wish-screen img-responsive animated" id="michael-screen" />
        <img src="/assets/trans-wish.png" class="transparent img-responsive"/>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/template-scheduling/screen-sidebar-small.png" class="img-responsive border">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Keep an Eye on Time Allocation</h2>
        <p>It’s important to make sure the hours are distributed properly amongst your staff before you release a schedule. With just one click, Smartplan helps you get an overview of the allocation of time.The hours assigned to each of your employees are now easily accessible with Smartplan.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Highlight an Employee</h2>
        <p>Sometimes you need a little insight to gain an overview. Need to know when and how many hours one of your employees is working? Just click on the employee that you need more information about and Smartplan will tell you when he or she is working. Smartplan also tells you if the employee has put in a request for time off. </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="/assets/magic/show-person.png" class="img-responsive border">
      </div>
    </div>
  </section>
  <!-- @include _footer-link -->
<!-- @include _footer -->
