<!-- $title Conditions and Terms for the use of Smartplan -->
<!-- $body index -->
<!-- $langMeta terms.html -->
<!-- @include _header -->

  <section class="terms">
  	<div class="row">
	  	<div class="col-md-12">
	  		<h2>Conditions and Terms for the use of Smartplan</h2>


	  		<h3>General</h3>
	  		<p>When creating an account at Smartplan.dk the following Terms and Conditions are accepted between the supplier (Smartplan) and the account owner (Customer). Smartplan is owned and delivered by:</p>

	  		<ul class="address">
	  			<li>Smartplan ApS</li>
			  	<li>kontakt@smartplan.dk</li>
			  	<li>Mejlgade 48C, 1.tv</li>
			  	<li>8000 Aarhus C</li>
		  	</ul>

	  		<p>Smartplan reserves the right to change and update the Terms and Conditions without warning. This includes the above noted ownership, which can change at any time without the consent of the Customer. The latest version of these Terms & Conditions is accessible at all times at <a href="http://trysmartplan.com/terms.html">http://trysmartplan.com/terms.html.</a></p>

	  		<p>In the event of any breach of the Terms & Conditions noted below, Smartplan reserves the right to delete the Customer account and all information that might belong to the account.</p>

	  		<h3>General Conditions</h3>

	  		<ol>
	  			<li>The customer must provide a valid email address and full name when registering.</li>
	  			<li>The customer is responsible for the safety of his/her account. It is the customer’s responsibility to protect and update his/her password and invitation code.
Smartplan cannot be held responsible for what happens to the Customer's account and information. The Customer is responsible for all contents placed on his/her Smartplan account. None of the content may be of an illegal character.</li>
	  			<li>Smartplan cannot be held responsible for either direct or indirect mistakes made by the Customer. This includes mistakes caused by the use of of Smartplan. This means that it is the Customer’s responsibility to ensure that correct information is entered into the work schedules in Smartplan. Smartplan cannot be held directly or indirectly responsible for mistakes in work schedules or other contents held in the Smartplan.</li>
	  			<li>Smartplan may at any time update and change the Smartplan application.
Smartplan can be inaccessible at times when updates are made, however Smartplan will strive to minimize inaccessibility during updates.</li>
	  			<li>Smartplan is designed to create rosters and manage rosters. Where Smartplan is not used appropriately, and where abuse of the application is suspected, Smartplan reserves the right to delete and block the Customer.</li>
	  		</ol>

	  		<h3>Conditions for Payment and Subscription</h3>
	  		<ol>
	  			<li>All prices are in the shown currency on trysmartplan.com. Smartplan may adjust the price according to currency exchange rates, net price index, taxes and the like.</li>
	  			<li>A valid and supported credit/debit card is required to use the Smartplan beyond the free trial period.</li>
	  			<li>You may try Smartplan for free for up to 30 days. At the end of the trial period, Smartplan will request the Customer to choose a subscription plan and to provide credit card information. At which point the subscription will start.</li>
	  			<li>The subscription runs for 30 days at a time and is automatically extended through prepayment for the coming period.</li>
	  			<li>At the commencement of the subscription, the Customer automatically provides Smartplan with the right to withdraw the subscription amount.</li>
	  			<li>If the Smartplan account is not terminated and the Customer has submitted payment information before the end of trial, the amount for the next monthly subscription will be withdrawn when the trial ends.</li>
	  			<li>An invoice will automatically be forwarded for payment by email.</li>
	  			<li>When upgrading or downgrading the subscription service, the new amount will automatically be withdrawn at the next scheduled withdrawal.</li>
	  			<li>Where Smartplan suspects the creation of several accounts by the same Customer, or under a new name for the purpose of avoiding payments for multiple subscription services, Smartplan reserves the right to block an account.</li>
	  		</ol>

	  		<h3>Cancellation and Refund</h3>
	  		<ol>
	  			<li>The Customer can use Smart Plan for 30 days without charge.</li>
	  			<li>Where Smartplan is terminated within 30 days, the Customer shall pay nothing.</li>
	  			<li>Where the Customer deletes his or her account, withdrawals will come to an end so that there is no charge for the following month.</li>
	  			<li>It is the Customer's responsibility to cancel and close an account with Smartplan. Smartplan does not consider an account to be cancelled by the way of an email or letter. The Customer is required to delete his or hers account in order to stop the subscription.</li>
	  			<li>Where the Customer has made prepayments for an extended period, the remaining balance, if any, is non-refundable.</li>
	  			<li>Where the Customer has unused text messages, the balance is non-refundable.</li>
	  			<li>Smartplan delivery is digital and as such there is no return or a 14 day cancellation period. The service is provided at the time of payment.</li>
	  		</ol>

	  		<h3>Privacy</h3>
	  		<ol>
	  			<li>When a Client establishes a Smartplan account, name, company name, email and phone-number is requested. This is done for the purpose of delivering Smartplan. This information allows for employees to contact one another. Smartplan also utilizes emails for the purpose of sending system messages and other important information about the system and application.
</li>
	  			<li>At the time of payment, the Customer provides information such as credit card information and company name. These are used for the purpose of placing charges for the use of Smartplan</li>
	  			<li>Smart Plan uses Cookies. These are used so that we can see how Smartplan is used and for the purpose of improving the application. This means that we save a small piece of data on your computer, which we can use to recognize you when you return to Smartplan. Cookies are a necessity to Smartplan’s functionality and are therefore required.</li>
	  			<li>Smartplan reserves the right to collect information about our Customers’ use of Smartplan for the purpose of improving Smartplan.</li>
	  			<li>Smartplan uses third party suppliers to help us provide services and infrastructure. This is part of the Smartplan operations.</li>
	  			<li>These suppliers might be located outside Denmark.</li>
	  			<li>Customer data and information is treated confidentially and will not be sold or distributed to any third party unless it is due to a change of Smartplan ownership or change to multiple owners.</li>
	  		</ol>

	  		<h3>Customer Service</h3>
	  		<ul>
	  			<li>If you require assistance with Smartplan, you may contact us at support@trymartplan.com</li>
	  		</ul>

	  	</div>
  	</div>
  </section>
<!-- @include _footer -->
