<!-- $title Thank you! -->
<!-- $metadescription Thank you for signing up -->
<!-- @include _header -->
  <section class="questionHead thanks">
    <div class="row">
      <div class="col-md-8 center col-md-offset-2">
        <h1>Thank you</h1>
        <span class="subheader">We will notify you when Smartplan is available.</span>
      </div>
    </div>
  </section>
  <!-- @include _case-fairbar -->
<!-- @include _footer -->