html {
	height: 100%;
}

body {
	background:#EDEDED;
}
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#zenbox_tab{
	display:none !important;
}
.container{
	background:white;
	padding:0px;
	overflow: hidden;
}
.row{
/* 	padding-left:10px;
	padding-right:10px; */
	margin:0px;
}

.title{
  float:left;
  display:block;
  margin-left:10px;
  margin-top:1px;
  text-transform:uppercase;
  font-size:16px;
}
form{
	display:block;
	::-webkit-input-placeholder {
	   color: #8c8c8c;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #8c8c8c;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #8c8c8c;
	}

	:-ms-input-placeholder {
	   color: #8c8c8c;
	}
	input, button{
		height:40px;
		width:315px;
		max-width:100%;
		margin-bottom:10px;
		@include vendor-prefix(border-radius, 3px);
		border:0px;
		display:block;
	}
	input{
		background-color:rgba(255,255,255,0.8);
		padding-left:10px;
		@include vendor-prefix(transition, all 0.2s ease-in);
		&:focus{
			background-color:white;
			outline-width: 0;
		}
	}
	button{
		background-color:$green;
		color:white;
		@include vendor-prefix(transition, all 0.2s ease-in);
		&:hover{
			background-color:$hover-green;
		}
	}
}
section{
  padding-bottom:65px;
  padding-top:65px;
  width:100%;
  border-bottom:1px solid $border;
  border-top:1px solid $border;
  margin-top:-1px;
	&.mini-section{
		padding-top:30px;
		padding-bottom:30px;
	}
  &.no-border{
  	border:0px;
  }
  &.no-bot-padding{
  	padding-bottom:0px;
  }
	&.no-top-padding{
		padding-top:0px;
	}
  &.blue{
  	background-color:$blue;
  	color:white;
  	h2,p{
  		color:white;
  	}
  	p{
  		font-weight:500;
  	}
  }
}
form{
	input{
		width:360px;
		max-width:100%;
		background: #FFFFFF;
		border: 1px solid #D7E7EF;
		box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
		border-radius: 3px;
		/* Sign up to be the fi: */
		font-family: "proxima nova", "proxima-nova", sans-serif;
		font-size: 16px;
		color: $darkgrey;
	}
	input[type="submit"]{
		margin:0px !important;
		padding-top:5px !important;
	}
}
.footer_con{
	background-color:#F5F5F5;
	height:75px;
	li{
		list-style:none;
		float:left;
		width:16.66%;
		text-align:center;
		margin-top:15px;
		a{
			color:#9B9B9B;
			font-size:14px;
		}
	}
}
.signup-footer{
	color:white;
	background-color:white;
	h2{
		color:$darkgrey;
		line-height:45px;
		font-size:20px;
		text-align:center;
		@include vendor-prefix(transition, all 0.3s ease-in);
		&:hover{
			opacity:0.6;
		}
	}
	a{
		text-decoration:none;
		&:hover{
			text-decoration: none;
			opacity:0;
		}
	}
}
.small-footer{
	font-size:13px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#fafafa;
	p{
		margin-top:0px;
		margin-bottom:0px;
	}
	ul{
		list-style:none;
		padding:0px;
		margin:0px;
		float:right;
		margin-top:20px;
		li{
			margin-left:10px;
			float:left;
		}
		@media (max-width: 992px) {
			float:left;
		}
	}
}
.center{
	text-align:center;
	img{
		margin:0 auto;
		margin-bottom:20px;
		margin-top:20px;
	}
}
/* Styles for social */
.social-badge{
	iframe{
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}
/* Styles for wish-based.html */
.wish-based{
	img{
		width:100%;
	}
	.mail-pic{
		max-width: 711px;
	}
}
/* Styles for first-served.html */
.first-served{
	img{
		width:100%;
	}
}
/* Styles for terms.html */
.terms{
	p{
		font-size:1em;
		line-height: 1.6em;
		color: $font;
	}
	ol, ul{
		color: $font;
		li{
			margin-top:8px;
		}
	}
	.address{
		list-style: none;
		color: $font;
	}
}



/* Styles for Functions.html */
.sub-list{
	margin-top:20px;
	margin-bottom:0px;
	padding:0px;
	ul{
		width:100%;
		list-style:none;
		padding:0px;
		li{
			float:left;
			margin-left:1%;
			width:32%;
			text-align: center;
			border:1px solid #9ABBCC;
			color:#9ABBCC;
			padding:10px;
			a{
				color:#668FA5;
			}
			&:first-child{
				margin-left:0px;
			}
		}
	}
	@media (max-width: 790px) {
		ul li{
			font-size:13px;
			padding:5px;
			padding-top:10px;
			padding-bottom:10px;
		}
	}
	@media (max-width: 590px) {
		ul{
			li{
				font-size:14px;
				padding:10px;
				float:none;
				width:100%;
				margin-left:0px;
				margin-bottom:10px;
			}
		}
	}
}
.feature-head{
	font-weight:600;
	color:$darkgrey;
	margin-bottom:20px;
}
.function{
	.header{
		min-height:335px !important;
		.blue-btn{
			margin:0 auto;
		}
	}
	.header .row{
		h1{
			margin-top:20px;
		}
	}
}
.schedule{
	.communication-sneak{
		a{
			display: none;
		}
	}
	.sub-titles{
		margin-top:50px;
	}
}
.shiftplan-head{
	border-top:0px;
	h1{
		margin-top:0px !important;
	}
	.subheader{
		margin-top:0px;
		margin-bottom:20px;
	}
	.top-table{
		table-layout: fixed;
	}
	.mini-image{
		margin-bottom:-100px;
		display: none;
	}
	@media (max-width: 750px) {
		.mini-image{
			display: block;
		}
	}
	.shift-plan{
		background-color:white;
		clear:both;
		margin-top:20px;
		margin-bottom:-150px;
		overflow: visible;
		display: block;
		min-width:730px;
		max-width:100%;
		text-align: left;
		padding:20px;
		border: 1px solid #D8D8D8;
		@include vendor-prefix(border-radius,3px);
		box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.1);
		font-size:14px;
		.shift{
			font-size:12px;
		}
		.job-colour{
			width:8px;
			height:8px;
		}
		.filter{
			margin-top:0px;
			width:100%;
		}
		.day-box{
			min-width:initial !important;
		}
		.day-des{
			min-width:initial !important;
		}
		@media (max-width: 750px) {
			display:none;
		}
	}
}
.plan-video{
	width:100%;
	border:1px solid $border;
	background-image:url('assets/video/smartplan-plandetail-placeholder.png');
	background-size:cover;
}
.functionHead, .questionHead, .goldHead{
	overflow:hidden;
	background-color:$lightblue;
	h1,.subheader, p{
		color:white;
	}
	.subheader{
		font-weight:400;
		margin-top:5px;
	}
	p{
		margin-bottom:25px;
	}
	.button{
		border:2px solid white;
		@include vendor-prefix(border-radius, 10em);
		color:white;
		padding:5px;
		font-size:0.9em;
		margin-top:15px;
		overflow:hidden;
		font-weight:600;
		padding-left:20px;
		padding-right:20px;
		@include vendor-prefix(transition, all 0.2s ease-in);
		cursor:pointer;
		&:hover{
			background-color:white;
			color:#67A7D3;
			text-decoration:none;
		}
	}
	@media (min-width: 768px) {
		h1{
			//margin-top:0px;
		}
		.mac{
			margin-left:0 auto;
		}
	}
	@media (min-width: 992px) {
		h1{
			//margin-top:130px;
		}
		.mac{
			margin-left:-120px;
		}
	}
	@media (min-width: 1294px) {
		h1{
			//margin-top:130px;
		}
		.mac{
			margin-left:-120px;
		}
	}
}
.whatToGet{
	//padding-top:170px;
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(243,242,242,0.55) 100%);
	.center{
		margin-bottom:50px;
	}
	.feature{
		float:left;
		font-size:0.9em;
		line-height:20px;
		font-weight:400;
		margin-bottom:20px;
		text-align: left;
		&.scheduling{
			h3{
				margin-left:0px;
			}
		}
		.icon{
			margin-bottom:0px;
			float:left;
			height:50px;
			img{
				//height:40px;
			}
		}
		h3{
			float:left;
			clear:right;
			color:#538AA5;
			//text-transform: uppercase;
			font-size:19px;
			line-height:21px;
			display:inline-block;
			width:72%;
		}
		p{
			display: block;
			float:left;
			clear:both;
			font-weight:500;
			font-size:14px;
		}
		a{
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
	}
	.screenshots{
		margin:0 auto;
		max-width:100%;
		margin-bottom:-95px;
		text-align: center;
		margin-top:20px;
		&.mini{
			display: none;
		}
		@media (max-width: 1100px) {
			max-width:90%;
		}
		@media (max-width: 767px) {
			display:none;
			&.mini{
				display: block;
			}
		}
	}
}
.scheduling{
	text-align: left;
	h2{
		margin-top:60px;
	}
}
.screenshot-front{
	margin-bottom:-125px;
	margin-left:20px;
	margin-top:30px;
}
a.link-button{
	background-color:$green;
	color:white;
	padding:10px;
	padding-left:35px;
	padding-right:35px;
	@include vendor-prefix(border-radius, 3px);
	//font-weight:600;
	text-align: center;
	margin-top:20px;
	display:inline-block;
}
.magic{
	color:white;
	background: url(magic-bg.png);
	background-color:#202225;
	background-attachment:fixed;
	background-repeat:repeat-y;
	background-size:100% auto;
	height:100%;
	margin-top:85px;
	margin-bottom:85px;
	p{
		color:#aaabac;
	}
	a{
		color:white;
		text-decoration:underline;
	}
}
.magic-graphic{
	background-color:white;
	color:$darkgrey;
	@include vendor-prefix(border-radius, 3px);
	padding:20px;
	font-size:14px;
	margin-top:25px;
	h4{
		margin-bottom:10px;
	}
	.chart-con{
		display:block;
		margin-bottom:20px;
		width:100%;
		float:left;
		canvas{
			width:90px !important;
			height:90px !important;
			float:left;
			margin-right:20px;
		}

		.number-con{
			margin-top:25px;
			a{
				color:$blue;
				text-decoration:underline;
			}
		}
		.shifts-number{
			display:block;
			margin-bottom:5px;
			.number{
				font-size:1.2em;
				font-weight:600;
				margin-right:10px;
				&.green{
					color:$green;
				}
				&.red{
					color:$red;
				}
			}
		}
	}
	.wishes{
		display:block;
		margin-top:10px;
		.number{
			font-size:2em;
			font-weight:600;
			margin-right:5px;
		}
	}
	.openWish{
		margin-top:10px;
		display:block;
		.open{
			color:$green;
			font-weight:600;
		}
		button{
			font-size:12px;
			padding-top:5px;
		}
	}
}
.shiftplan_con{
	overflow:hidden;
}
.phone{
	overflow:hidden;
	.phone5c{
		background:url('assets/iphone5c.png') center center;
		height:647px;
		width:1500px;
		max-width:100%;
		margin-bottom:30px;
	}
}
.phone-sneak{
	.main-text{
		margin-top:200px;
	}
	.phone{
		margin:0 auto;
		margin-bottom:-95px;
		@media (max-width: 767px){
			max-width:75%;
		}
	}
	.phone-con{
		@media (max-width: 767px){
			overflow: hidden;
			height:400px;
			border-bottom:1px solid $border;
			margin-bottom:30px;
		}
	}
	.phone-quote{
		margin-top:10px;
		img{
			float:left;
			display: block;
			margin-right:20px;

		}
		p{
			opacity:0.75;
			font-size:14px;
			margin:0px;
			font-style:italic;
			margin-bottom:10px;
		}
		.text{
			display: block;
			overflow: hidden;
		}
	}
	// @media (max-width: 767px) {
	// 	.phone{
	// 		-ms-transform: rotate(-90deg); /* IE 9 */
	// 		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	// 		transform: rotate(-90deg);
	// 		margin-right:120px;
	// 		float:right;
	// 		margin-top:-210px;
	// 	}
	// 	.phone-con{
	// 		width:100%;
	// 		overflow: hidden;
	// 		float:left;
	// 		position: relative;
	// 		height:300px;
	// 		.phone{
	// 			width:50%;
	// 			position:absolute;
	// 			right:0px;
	// 			top:0px;
	// 			margin-right:-50%;
	// 		}
	// 	}
	// 	.main-text{
	// 		margin-top:0px;
	// 	}
	// }
}
.price-sneak{
	padding:0px;
	color:white;
	text-align: center;
	.price{
		font-size:63px;
		margin-bottom:10px;
		margin-top:50px;
	}
	.employees{
		font-size:24px;
		-webkit-font-smoothing: antialiased;
	}
	.plan-btn{
		background-color:white;
		color:$blue;
		padding:20px;
		@include vendor-prefix(border-radius, 50em);
		width:75%;
		margin:0 auto;
		margin-top:50px;
		display: block;
	}
	img{
		margin-top:60px;
		margin-bottom:10px;
	}
	.col_1, .col_2, .col_3{
		float:left;
		width:33.3333%;
		background-color:$blue;
		height:450px;
	}
	.col_1{
		background-color:$blue;
	}
	.col_2{
		background-color: #1687C0;
		.plan-btn{
			color:#1687C0;
		}
	}
	.col_3{
		background-color: #0D6E9F;
		.plan-btn{
			color:#0D6E9F;
		}
	}
	a.readmore{
		margin-top:30px;
		margin-bottom:30px;
		width:100%;
		float:left;
		text-align: center;
	}
	@media (max-width: 1294px) {
		.price{
			font-size:35px;
			margin-top:30px;
		}
		.employees{
			font-size:17px;
		}
		.plan-btn{
			padding: 15px;
		}
		.col_1, .col_2, .col_3{
			height:375px;
		}
	}
	@media (max-width: 767px) {
		.price{
			font-size:35px;
			margin-top:30px;
		}
		.employees{
			font-size:17px;
		}
		.plan-btn{
			padding: 15px;
		}
		.col_1, .col_2, .col_3{
			height:375px;
			width:100%;
		}
	}
}
.communication-sneak{
	background:url('assets/paper_bg@2x.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position: right 50px;
	img{
		margin:0 auto;
		display: block;
		margin-bottom:50px;
	}
}
.feature-links{
	margin-top:20px;
}
.feature-link{
	width: 25%;
	float:left;
	@media (max-width: 992px) {
		width:50%;
		margin-bottom:20px;
		text-align: left;
	}
	@media (max-width: 520px) {
		width:100%;
		margin-bottom:20px;
		text-align: left;
		border:1px solid #6E9EB5;
		@include vendor-prefix(border-radius, 3px);
		padding:10px;
		padding-left:20px;
		p{
			margin-top:0px;
		}
		.icon{
			margin-top:0px;
			&.people{
				margin-top:5px;
			}
			&.template-icon{
				margin-top:0px;
			}
		}
	}
	img{
		float:left;
		margin-top:15px;
		margin-right:20px;
		&.people{
			margin-top:20px;
		}
		&.template-icon{
			margin-top:20px;
		}
	}
	p{
		color:#6E9EB5;
		font-weight:600;
		margin-bottom:0px;
	}
	a{
		color:#6E9EB5;
		text-decoration: underline;
		font-size:13px;
	}
}
.template{
	overflow: hidden;
	h2{
		// font-weight:600;
		// font-size: 23px;
		// color: #6E9EB5;
		// line-height: 28px;
	}
	.sidebar{
		margin-left:-133px;
		@media (max-width: 1180px) {
			margin-left:-200px;
		}
		@media (max-width: 1080px) {
			margin-left:-230px;
		}
		@media (max-width: 992px) {
			margin-left:-175px;
		}
		@media (max-width: 910px) {
			margin-left:-230px;
		}
		@media (max-width: 840px) {
			margin-left:-260px;
		}
	}
	.icon{
		margin-bottom:15px;
	}
	.screenshot-temp{
		margin-bottom:-95px;
	}
	@media (max-width: 767px) {
		.icon{
			margin-top:35px;
		}
		.screenshot-temp{
			margin-bottom:0px;
			margin-top:30px;
			width:100%;
			margin-left:0px;
			margin-right:0px;
			border-bottom:1px solid $border;
		}
		.request-graphic{
			margin:0 auto;
		}
	}
	.request-text{
		@media (max-width: 1125px) {
			width:100% !important;
			height:auto;
			margin-top:30px;
		}
	}
	.graphic-con{
		@media (max-width: 1125px) {
			width:100% !important;
			height:auto;
			margin-top:30px;
		}
	}
	.request-graphic{
		@include vendor-prefix(border-radius, 6px);
		overflow: hidden;
		width:640px;
		margin:0 auto;
		@media (max-width: 680px) {
			width:100%;
			height:auto;
		}
		.col_1, .col_2, .col_3{
			float:left;
			width:33.33%;
			padding:15px;
			padding-top:30px;
			padding-bottom:30px;
			height:350px;
			color:white;
			text-align: center;
			@media (max-width: 680px) {
				width:100%;
				height:auto;
			}
			p{
				color:white;
				font-weight:500;
				font-size:15px;
				line-height:18px;
			}
			.number{
				width:60px;
				height:60px;
				background-color:white;
				display: block;
				@include vendor-prefix(border-radius, 50em);
				margin:0 auto;
				margin-bottom:20px;
				color:$blue;
				font-size:40px;
				line-height:60px;
				font-weight:600;
			}
		}
		.col_1{
			background-color:#3B9BD8;

		}
		.col_2{
			background-color: #3387C0;
			.number{
				color:#3387C0;
			}
		}
		.col_3{
			background-color: #286E9F;
			.number{
				color:#286E9F;
			}
		}
	}
}
/* Styles for Questions.html */
.questionHead{
	h1{
		margin-top:80px;
	}
	.q-btn{
		margin-top:10px;
		margin-bottom:80px;
		font-size:16px;
		display:inline-block;
		cursor:pointer;
	}
}
.qa{
	h2{
		margin-bottom:30px;
	}
	.col-md-6{
		margin-bottom:50px;
	}
	.supportBtn{
		cursor: pointer;
		color: $blue;
		text-decoration: underline;
	}
}
.clients{
	ul{
		width:100%;
		list-style:none;
		padding-left:0px;
		margin-left:0px;
		overflow: hidden;
		margin-top:20px;
		li{
			width:20%;
			float:left;
			height:160px;
			a{
				@include vendor-prefix(transition, all 0.2s ease-in);
				&:hover{
					opacity:0.5;
				}
			}
			&.rasoi{
				padding-top:12px;
			}
			&.fur{
				padding-top:22px;
			}
			&.ribehoej{
				padding-top:22px;
			}
			&.hungry{
				padding-top:18px;
			}
		}
		@media (max-width: 1000px) {
			li{
				width:25%;
				img{
					max-width:80%;
				}
				&.fur{
					display:none;
				}
			}
		}
		@media (max-width: 730px) {
			li{
				width:50%;
				&.fur{
					display:none;
				}
			}
		}
	}
}
/* Styles for Excel-online-vagtplan.html */
.uploadTextLink{
	text-decoration: underline;
	cursor: pointer;
}
.excel-upload-widget{
	a{
		display:block;
		margin-top:10px;
		color:$blue;
		font-size:14px;
	}
}
.excel{
	.excel-head{
		//padding-bottom:130px;
		a{
			display:block;
			margin-top:10px;
			font-size:14px;
			color:$blue;
		}
	}
	h1{
		font-size:24px;
		line-height:29px;
		margin-top:50px;
	}
	iframe{
		border:none;
		width:100%;
		min-height:374px;
	}
	.cons-excel{
		background-color:#f3f3f3;
		background-image:url("assets/excel/excel-background.jpg");
		background-position:25% bottom;
		background-repeat:no-repeat;
		//background-size: contain;
		min-height:1080px;
		padding-top:150px;
		p{
			font-weight:400;
			font-size:14px;
		}
		.small{
			margin-top:30px;
		}
	}
	.pros-smart{
		background-color:#dfe0e4;
		background-image:url("assets/excel/smartplan-background.jpg");
		background-position:center bottom;
		background-repeat:no-repeat;
		//background-size: contain;
		min-height:1130px;
		padding-top:150px;
		.subheader{
			margin-bottom:40px;
		}
		p{
			font-weight:400;
			font-size:14px;
		}
		.small{
			margin-top:30px;
		}
	}
	@media (max-width: 767px) {
		h1{
			margin-top:0px;
		}
		.cons-excel{
			//background-image:none;
			//min-height:inherit;
			background-size: contain;
			padding-top:80px;
			//min-height:1200px;
		}
		.pros-smart{
			//background-image:none;
			//min-height:inherit;
			background-size: contain;
			//min-height:1430px;
			padding-top:80px;
		}
	}
	@media (max-width: 540px) {
		.cons-excel{
			//background-image:none;
			//min-height:inherit;
			min-height:1090px;
		}
		.pros-smart{
			//background-image:none;
			//min-height:inherit;
			min-height:1240px;
		}
	}
	@media (max-width: 390px) {
		.cons-excel{
			//background-image:none;
			//min-height:inherit;
			min-height:1200px;
		}
		.pros-smart{
			//background-image:none;
			//min-height:inherit;
			min-height:1430px;
		}
	}
	.compare{
		h2{
			font-size:24px;
			margin-top:70px;
		}
		p{
			font-size:14px;
		}
		table{
			font-size:14px;
			//-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.05);
			//box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.05);
			width:100%;
			th,td{
				padding:15px;
				padding-top:5px;
				padding-bottom:5px;
				background-color:white;
				-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.05);
				box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.05);
			}
			tr{
				border-bottom:1px solid #E6E6E6;
				border-left:1px solid #E6E6E6;
				th{
					border-right:1px solid #E6E6E6;
					border-top:1px solid #e6e6e6;
					padding-top:10px;
					padding-bottom:10px;
					font-weight: 400;
					color:#818181;
					&.blue{
						color:$blue;
					}
				}
				td{
					border-right:1px solid #E6E6E6;
					&.center-check{
						text-align: center;
					}
				}
			}
			.blank{
				border-left:0px;
				border-top:0px;
				-moz-box-shadow:    none;
				box-shadow:         none;
			}
		}
	}
}
/* Styles for Free signup section.html */
.free-signup{
	.termsLink{
		font-size:0.8em;
	}
	position:relative;
	.row{
		position:relative;
		z-index:3;
	}
	.subheader,p, h2{
	}
	h3{
		border-left:4px solid $blue;
		padding-left:15px;
		margin-bottom:20px;
	}
	a{
		text-decoration:underline;
	}
	form{
		font-size:14px;
		input{
			font-size:14px;
			background:rgba(255, 255, 255, 0.9);
		}
		input, button{
			width:100%;
		}
	}
	&.summer{
		background: url('assets/summer-bg.jpg') no-repeat center center;
		&:before{
			background-color:#e1b41c;
		}
	}
}
/* Styles for signup.html */
.signup-page{
	.termsLink{
		color:white;
		font-size: 0.8em;
		text-align: center;
		a{
			color: white;
			text-decoration: underline;
		}
	}
	ul{
		padding-left:20px;
		li{
			margin-top:20px;
			color:$font;
		}
	}
	button.facebook{
		background-color:#48659D;
	}
	.img-responsive{
		margin-top:20px;
	}
}
.image-container.signup-page{
	position:relative;
	background: url('https://www.smartplan.dk/assets/headbg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:680px;
	h1,h2{
		color:white;
	}
	&:before{
		content:"";
		z-index:1;
		background-color:$lightblue;
		opacity:0.85;
		width:100%;
		height:100%;
		display: block;
		position:absolute;
		top:0px;
		left:0px;
	}
	.row{
		z-index:5;
		position:relative;
		opacity:1;
		h1{
			margin-top:80px;
		}
	}
	form{
		input, button{
			margin: 0 auto;
			margin-top:10px;
		}
	}
}
/* Styles for mobile.html */
.phone-head{
	overflow:hidden;
	h1{
		margin-top:0px;
	}
	.subheader{
		margin-bottom:30px;
		margin-top:5px;
		display:block;
	}
	h3{
		margin-bottom:5px;
		font-weight:400;
	}
	p{
		margin-top:5px;
	}
	.iphone-profile{
		width:432px;
		height:876px;
		max-width:100%;
		margin:0 auto;
		background-image:url("assets/iphone-profile.png");
		background-repeat:no-repeat;
		background-size:cover;
	}
	@media (min-width: 768px) {
		h1{
			margin-top:0px;
		}
	}
	@media (min-width: 992px) {
		h1{
			margin-top:150px;
		}
	}
}
.iphone-hand{
	background:url("assets/phone-hand.jpg") no-repeat center center;
	min-height:700px;
	position:relative;
	.whiteonimg{
		background-color:white;
		position:absolute;
		bottom:0px;
		padding-top:15px;
		.subheader{
			margin-bottom:0px;
		}
		p{
			margin-top:10px;
		}
	}
}
.os, .cal{
	margin-right:7%;
	margin-bottom:35px;
	max-width:25%;
}
/* Styles for plan.html */
.admin-control{
	.circle-con{
		margin:0 auto;
		display:block;
		width:50%;
		.action-circle{
			background-color:$blue;
			@include vendor-prefix(border-radius, 100px);
			width:60px;
			height:60px;
			margin:0 auto;
			border: 5px solid white;
			-webkit-box-shadow: 0 0 0 2px $blue;
			-moz-box-shadow: 0 0 0 2px $blue;
			box-shadow: 0 0 0 2px $blue;
			position:relative;
			img{
				position:absolute;
				left:50%;
				top:50%;
				width:28px;
				margin:0 auto;
				margin-left:-14px;
				margin-top:-10px;
			}
		}
		p{
			text-align:center;
			font-size:14px;
			font-weight:600;
			margin-top:10px;
		}
	}
	.box{
		width:100%;
		border:1px solid #D3D3D3;
		height:135px;
		.cell{
			width:33.33%;
			border-right:1px solid #D3D3D3;
			height:100%;
			float:left;
			&:last-child{
				border-right:0px;
			}
			.icon{
				width:50px;
				margin:0 auto;
				display:block;
				img{
					margin-top:33px;
					margin-bottom:10px;
					width:50px;
				}
				&.delete{
					img{
						width:37px;
						display:block;
						margin:0 auto;
						margin-top:35px;
						margin-bottom:6px;
					}
				}
				&.contact{
					img{
						width:40px;
						margin:0 auto;
						display:block;
						margin-top:39px;
						margin-bottom:5px;
					}
				}
			}
			p{
				margin:0px;
				font-weight:600;
				font-size:14px;
				display:block;
				text-align:center;
			}
		}
	}
}
.planchanges{
	overflow:hidden;
	.dropdown{
		margin:0 auto;
	}
}
.thanks{
	span{
		margin-bottom:60px;
	}
}
/* Styles for prices.html */
.modal-dialog{
	.close{
	float:right;
	}
	.modal-body{
		padding:15px;
		form{
			#header{
				display:none;
			}
			label{
				font-size:16px;
			}
		}
	}
	.modal-content{
		height:365px;
		overflow: hidden;
	}
}
.plan-pricing{
	.subheader{
		margin-bottom:30px;
	}
	ul{
		font-size: 22px;
		color: #5F5F5F;
		line-height: 26px;
		margin-top:0px;
		margin-bottom:50px;
		li{
			margin-bottom:15px;
			border-bottom:1px solid #DEDEDE;
			padding-bottom:15px;
			&:last-child{
				border-bottom:0px;
			}
		}
		@media (max-width: 790px) {
			font-size:18px;
			line-height:25px;
			li{
				margin-bottom:15px;
			}
		}
	}
	.price-table{
		display:table;
		table-layout: fixed;
		width:100%;
		color:#5F5F5F;
		.cell{
			display:table-cell;
			border:1px solid #D8D8D8;
			border-right:0px;
			text-align: center;
			padding:40px;
			&:last-child{
				border-right:1px solid #D8D8D8 !important;
			}
			.price-tag{
				font-size:40px;
				display: block;
			}
			.price-sub{
				display: block;
				font-size:18px;
				margin-top:20px;
			}
		}
	}
}
@media (max-width: 790px) {
	.plan-pricing{
		.price-table{
			.cell{
				padding:20px;
				.price-tag{
					font-size:25px;
				}
				.price-sub{
					font-size:14px;
				}
			}
		}
	}
}
@media (max-width: 530px) {
	.plan-pricing{
		.price-table{
			.cell{
				display:block;
				width:100%;
				border-right:1px solid #D8D8D8 !important;
				padding:20px;
				border-bottom:0px;
				&:last-child{
					border-bottom:1px solid #d8d8d8;
				}
				.price-tag{
					font-size:25px;
				}
				.price-sub{
					font-size:14px;
				}
			}
		}
	}
}
.sms-price{
	.center{
		img{
			margin-top:0px;
			margin-bottom:0px;
		}
	}
	.sub-p{
		margin-top:-20px;
		opacity:0.5;
	}
}
.terms{
	font-size:0.9em;
	.bold{
		font-weight:600;
	}
}
.doubt{
	ul{
		list-style:none;
		padding-left:0px;
		li{
			margin-top:10px;
		}
	}
}
.plan-con{
	border:1px solid #CACACA;
	@include vendor-prefix(border-radius, 3px);
	text-align:center;
	padding:25px;
	color:$darkgrey;
	margin-bottom:30px;
	.price{
		font-weight:600;
		font-size:4em;
		border-bottom:1px solid #cacaca;
		width:100%;
		display:block;
		padding-bottom:20px;
		p{
			font-size:12px;
			margin-bottom:0px;
			font-weight:500;
		}
	}
	ul{
		padding-left:0px;
		list-style:none;
		font-size:0.9em;
		li{
			margin-top:10px;
		}
		.free{
			font-weight:600;
		}
	}
	.btn{
		@include vendor-prefix(border-radius, 3px);
		padding-left:10px;
		padding-right:10px;
		padding-top:11px;
		padding-bottom:11px;
		color:white;
		text-decoration:none;
		background-color:#579C22;
		width:100%;
		display:block;
		font-weight:500;
		cursor:pointer;
		@include vendor-prefix(transition, all 0.2s ease-in);
		&:hover{
			background-color:#64AD2B;
		}
		&:active{
			background-color:#477E1D;
		}
	}
}
/* Styles for Logbook.html */
.head{
	h1{
		margin-bottom:20px;
	}
	img{
		border-top:1px solid #DADADA;
		border-bottom:1px solid #DADADA;
		padding-top:60px;
		padding-bottom:60px;
		margin-top:50px;
		margin-bottom:60px;
	}
}
.grey{
	background-color:#FAFAFA;
}
.videos{
	border-top:1px solid #dadada;
}
.small-border{
	p{
		font-size:14px;
		padding-top:20px;
		margin-top:30px;
		border-top:1px solid #979797;
		line-height: 17px;
		font-weight:300;
		margin-bottom:0px;
		@include vendor-prefix(transition, all 0.3s ease-in);
		b{
			font-weight:600;
		}
	}
}
img.log-time{
	margin-top:60px;
	margin-bottom:60px;
}
.ipad.small-border{
	p{
		opacity:0.8;
	}
	p:hover{
		color:black;
		cursor:pointer;
		opacity:1;
	}
	p.active{
		opacity:1;
		color:black;
	}
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity:0.2;
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    opacity:1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity:0.2;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity:0.2;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity:1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity:0.2;
  }
}

.ipad-container{
	position:relative;
	.circle{
		width:25px;
		height:25px;
		border:2px solid $darkgrey;
		display:block;
		top:25.3%;
		left:51%;
		@include vendor-prefix(border-radius, 50px);
		position:absolute;
		@include vendor-prefix(transition, all 0.3s ease-in);
		margin-top:-13.5px;
		margin-left:-13.5px;

		-webkit-animation-name: pulse;
		animation-name: pulse;
		-webkit-animation-duration:2s;
		animation-duration:2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.anno-2{
		top:42.9%;
		left:52.2%;
	}
	.anno-3{
		top:42.7%;
		left:14.3%;
	}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom:20px;
	border: 1px solid #DFDFDF;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Styles for magic.html */
.magic-head{
	img{
		margin-top:30px;
	}
}
.framed{
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.11);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.11);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.11);
	overflow:hidden;
}
.right{
	padding-right:0px;
	img{
		float:right;
	}
}

/* Styles for blog.html */
.blog{
	text-align: center;
	h1{
		margin-top:80px;
	}
}
.blog-posts{
	padding-top:50px;
	text-align: left;
	.post{
		iframe{
			margin-top:40px;
			margin-bottom: 40px;
		}
		h1{
			font-size:1.7em;
			margin-bottom:5px;
		}
		h2, h3{
			font-weight:600;
			font-size:1.2em;
			color:$darkgrey;
			margin-top:25px;
		}
		.date{
			margin-top:0px;
			margin-bottom:30px;
			font-size:0.9em;
			color:grey;
		}
		margin-bottom:120px;
		border-bottom:1px solid lightgrey;
		padding-bottom:120px;
		&:last-child{
			border-bottom:0px;
		}
		img{
			margin: 0 auto;
			max-width:100%;
			display:block;
			margin-top:30px;
			margin-bottom:30px;
		}
		ul{
			li{
				margin-bottom:15px;
				color:$darkgrey;
			}
		}
	}
}
/* Styles for TUMBLR blog */

#tumblr-blog{
	#tumblr_controls{
		display: none;
	}
	.blog-posts .post{
		padding-bottom: 46px;
		margin-bottom: 50px;
	}
	section.caption.group{
		padding-top:20px;
		padding-bottom:10px;
		h1{
			margin-top:0px;
		}
	}
	section.group{
		padding-top:0;
	}
	.post_info{
		list-style: none;
		overflow: hidden;
		padding-left: 0;
		li{
			float:left;
			margin-right: 20px;
		}
	}
	section.caption.group.comments{
		padding-bottom: 30px;
		padding-top: 0;
	}
	section.top.media{
		padding-bottom: 0px;
		padding-top: 0px;
		img{
			margin-bottom: 5px;
		}
	}
}

/* Styles for readmore.html */
.read-more{
	img{
		margin-top:50px;
	}
	h3{
		font-size:0.9em;
		margin-top:25px;
	}
	p{
		font-size:0.8em;
		margin-top:5px;
		margin-bottom:5px;
	}
	a{
		font-size:0.8em;
		margin-top:0px;
	}
}
/* Styles for Whatis.html */
.whatis{
	h1{
		margin-top:50px;
		text-align: center;
	}
	.subheader{
		text-align: center;
		margin-bottom:50px;
	}
	ol{
		li{
			margin-top:10px;
			color:#727272;
		}
	}
}
ul.framed-list{
	margin:0px;
	list-style: none;
	margin-top:20px;
	padding:0px;
	li{
		background-color:#96B7C5;
		margin-bottom:20px;
		font-size:14px;
		display: inline-block;
		padding:10px;
		padding-left:15px;
		padding-right:15px;
		color:white;
		a{
			color:white;
		}
	}
}
.map-signup{
	background-image: url('img/map@2x.png');
	background-size:cover;
	background-position:top center;
	margin-bottom:100px;
	margin-top:100px;
	h2{
		margin-top:100px;
		margin-bottom:20px;
	}
	form{
		margin:0 auto;
		margin-top:50px;
		input{
			margin:0 auto !important;
			margin-top:10px !important;
		}
	}
	input[type=submit]{
		background: #229BD8;
		border: 1px solid #1784BB;
		box-shadow: 0px 2px 4px 0px rgba(12,103,149,0.23);
		border-radius: 3px;
		/* Subscribe to be the : */
		font-family: "proxima nova", "proxima-nova", sans-serif;
		font-size: 16px;
		color: #FFFFFF;
	}
}
.blue-head{
	background: $blue;
	color:white;
	h1, p{
		color:white;
	}
	p{
		font-weight:500;
		font-size:16px;
		margin-bottom:0px;
	}
}

/* Styles for index.html */
.index2, .messages, .excel, .fairbar, .function, .schedule, .index_ipad{
	.header{
		@extend .blue-background-header;
		min-height:500px;
		position:relative;
		overflow:hidden;
		h1{
			margin-top:2em;
		}
		.read-more{
			margin-top:20px;
			float:left;
			text-decoration: underline;
			text-align: center;
		}
		.blue-btn{
			border-radius: 3px;
			width:360px;
			height:40px;
			max-width:100%;
			text-align: center;
			padding-top:10px;
			margin-top:30px;
			display:block;
			background: #229BD8;
			border: 1px solid #1A88C0;
			-moz-box-shadow:    0px 2px 4px 0px rgba(12,103,149,0.23);
			box-shadow:         0px 2px 4px 0px rgba(12,103,149,0.23);
			font-size: 16px;
			color: #FFFFFF;
			cursor: pointer;
			@include vendor-prefix(transition, all 0.2s ease-in);
			&:hover{
				text-decoration:none;
				background-color:#2CA3DF;
			}
		}
	}

}
.fairbar{
	.free-signup{
		margin-top:0px;
		margin-bottom:0px;
	}
	.videoWrapper{
		margin-bottom:0px;
	}
	.fairbar_link{
		display:none;
	}
	.fairbar-head{
		background-image:url(fairbar-bg.png);
		background-color:black;
		background-repeat: no-repeat;
		background-size: cover;
		background-position:40% center;
		min-height:499px;
		h1{
			margin-top:30px;
		}
		h1, p{
			color:white;
		}
		.button{
			border:2px solid white;
			@include vendor-prefix(border-radius, 10em);
			color:white;
			padding:8px;
			font-size:0.9em;
			margin-top:20px;
			display: inline-block;
			overflow:hidden;
			padding-left:30px;
			padding-right:30px;
			@include vendor-prefix(transition, all 0.2s ease-in);
			cursor:pointer;
			&:hover{
				background-color:white;
				color:black;
				text-decoration:none;
			}
		}
	}
	.list{
		h2{
			margin-bottom:80px;
		}
		.item{
			margin-bottom:150px;
			&:last-child{
				margin-bottom:0px;
			}
		}
	}
	ol{
		//border-top:1px solid #C9C9C9;
		padding-left:0px;
		li{
			margin-top:50px;
			line-height:1.4em;
			color:$darkgrey;
			font-size:1.4em;
		}
	}
	.player{
		h2{
			margin-bottom:30px;
		}
	}
	.challenges{
		h2{
			margin-bottom:30px;
		}
		ul{
			padding-left:0px;
			color:$darkgrey;
			li{
				font-size:1.4em;
				line-height: 2em;
			}
		}
	}
	@media (max-width: 992px) {
		.list{
			h2{
				//margin-bottom:0px;
			}
			.item{
				margin-bottom:30px;
			}
		}
		.challenges{
			ul{
				li{
					font-size:1.2em;
					line-height:1.2em;
					margin-bottom:15px;
				}
			}
		}
		ol{
			li{
				font-size:1.2em;
				line-height:1.2em;
			}
		}
	}
	@media (max-width: 767px) {
		.list{
			h2{
				margin-bottom:0px;
			}
		}
		.right{
			.framed{
				margin:0 auto;
				float:none;
			}
		}
		.magic-graphic{
			margin:0 auto;
			max-width:477px;
		}
	}
}
.excel{
	.header, .excel-head{
		background-color:white;
		background-image:none;
		.blue-btn{
			width:220px;
			float:left;
			margin-right:20px;
		}
		.green-btn{
			background-color:$green;
			border:1px solid $green;
			&:hover{
				background-color:$hover-green;
			}
		}
		img.excel-icon{
			right:-75px;
		}
	}
}
.messages{
	.header{
		h1{
			margin-top:2em;
		}
	}
}
.msg-iphone-desk{
	margin-top:100px;
	img{
		margin-top:-120px;
	}
}
.badge{
	background-color:$blue;
	color:white;
	font-size:14px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	@include vendor-prefix(border-radius, 3px);
	margin-top:10px;
	display: inline-block;
}
@media (max-width: 991px){
	.msg-iphone-desk{
		h2, .subheader{
			text-align: center;
		}
		margin-top:0px;
		img{
			margin-top:0px;
		}
	}
}
.messages, .function{
	h2{
		font-size:22px;
	}
	.header{
		padding-bottom:0px;
		.headline{
			@include sm-center(0);
		}
		.msg-col{
			@media (max-width: 992px) {
				padding-top:30px;
			}
		}
		.msg-con{
			margin-top:30px;
			width:100%;
			max-width:465px;
			height:435px;
			overflow: hidden;
			margin:0 auto;
			background-color:white;
			border:1px solid #cfcfcf;
			border-bottom:0px;
			position:relative;
			.add-msg{

				width:100%;
				display: block;

				position: absolute;
				bottom:0px;
				left:0px;
				.text-con{
					height: 35px;
					border-top: 1px solid #cfcfcf;
					border-bottom: 1px solid #cfcfcf;
					width:100%;
					display: block;
					input{
						border:0px;
						height:100%;
						width:65%;
						padding-left: 10px;
						outline:0;
					}
					.send-comment{
						float:right;
						background-color: $blue;
						display: block;
						height:100%;
						color:white;
						width:35%;
						font-size: 14px;
						padding-top:10px;
						text-align: center;
						cursor:pointer;
					}
				}
				.receivers{
					background-color:#F8F8F8;
					width:100%;
					display: block;
					height:60px;
					padding:10px;
					color:$darkgrey;
					.label{
						font-size:14px;
						font-weight:600;
					}
					input{
						margin-top:10px;
						margin-right:10px;
					}
					label{
						font-size:14px;
						margin-right:30px;
					}
				}
			}
			.today{
				background-color:#F8F8F8;
				height:35px;
				width:100%;
				text-align: center;
				display: block;
				padding-top:10px;
			}
			.msg{
				border-top:1px solid #CFCFCF;
				border-bottom:1px solid #CFCFCF;
				width:100%;
				overflow:hidden;
				margin-top:-1px;
				padding:20px;
				padding-left:10px;
			    &.first{
			    }
			    &.second{
				    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
				    animation-delay: 2s;
			    }
			    &.third{
				    -webkit-animation-delay: 4.5s; /* Chrome, Safari, Opera */
				    animation-delay: 4.5s;
			    }
				img{
					display:block;
					float:left;
					margin-right:10px;
					@include vendor-prefix(border-radius, 50em);
				}
				.name{
					font-weight:600;
					color:$darkgrey;
					margin-bottom:0px;
					margin-top:5px;
				}
				.comment{
					overflow: hidden;
					display:block;
					margin-top:0px;
					font-size:14px;
					margin-bottom:0px;
				}
			}
		}
	}
	b{
		font-weight:600;
	}
	.hand-phone{
		position:relative;
		min-height:560px;
		margin-top:210px;

		img{
			position:absolute;
			left:-120px;
			top:-240px;
		}
	}
	@media (max-width: 1140px){

	}
	@media (max-width: 767px){
		.header{
			ul{
				li{
					display:block;
					width:90%;
					margin:0 auto;
					margin-bottom:20px;
					max-width:464px;
				}
			}
		}
		.msg-iphone-desk{
			margin-top:0px;
			img{
				margin-top:0px;
			}
		}
		.shoutout{
			img{
				margin-bottom:20px;
			}
		}
		.hand-phone{
			position:relative;
			margin-top:0px;
			img{
				position:relative;
				top:0px;
				left:-25px;
				width:100%;
			}
			.margin-top-40{
				margin-top:-40px;
			}
		}
		.sms-price{
			margin-bottom:100px;
		}
	}
}
.messages{
	.msg-link{
		display:none;
	}
}
.me{
	img{

	}
}
.index2, .prices{
	.free-signup{
		margin-bottom:0px;
	}
}
.contact{
	.free-signup{
		margin-top:0px;
		margin-bottom:0px;
	}
}
.index_ipad{
	.what-link{
		display:none;
	}
	.header{
		position:relative;
		p{
			font-size: 18px;
			color: #4a4a4a;
			line-height: 25px;
		}
		.ipad-con{
			margin-bottom:-10px;
		}
		.ipad-img{
			//position:absolute;
			//left:-50px;
			//top:-40px;
			//margin-left:-50px;
			//margin-top:-28px;
			@media (max-width: 992px){
				margin:0 auto;
				margin-top:30px;
				max-width:100%;
			}
		}
		@media (max-width: 1140px){
			//min-height:500px !important;

		}
		@media (max-width: 992px){
			//min-height:800px !important;
			h1,h2,p{
				text-align: center;
			}
			h2{
				margin-top:-30px;
			}
		}
	}
	.btn-ribbon{
		bottom:0px;
		background-color:white;
		position: absolute;
		width:100%;
		border-top:1px solid $border;
		border-bottom:1px solid $border;
		.ribbon-btn{
			line-height:35px;
			margin-right:20px;
			border:1px solid #A1BAC7;
			color:#528198;
			font-size:14px;
			@include vendor-prefix(border-radius,3px);
			display: block;
			float:left;
			padding-left:20px;
			padding-right:20px;
			margin-top:12px;
			margin-bottom:12px;
			&:last-child{
				float:right;
			}
			&.try-btn{
				background-color:$green;
				color:white;
				border-color:$green;

			}
			@media (max-width: 640px){
				width:48%;
				margin-right:0px;
				padding-left:5px;
				padding-right:5px;
				float:right;
				&:first-child{
					margin-left:0px;
					float:left;
				}
				&.try-btn{
					display: none;
				}
			}
		}
	}
}
.index2, .excel, .index_ipad{
 	.header{
 		.screen-header{
			position:absolute;
			right:0px;
			bottom:0px;
			max-width:60%;
			max-width:681px;
		}
		@media (max-width: 1140px) {
			//padding-bottom:430px;
			min-height:370px;
			.screen-header{
				width:50%;
				max-width:90%;
				right:-5%;
			}
			h1{
				margin-top:0px;
			}
			.blue-btn{
				width:360px;
				float:none;
				margin-top:20px;
				display: block;
			}
		}
		@media (max-width: 767px) {
			//padding-bottom:430px;
			//min-height:710px;
			text-align:center;
			h1{
				margin-top:0px;
			}
			form{
				margin:0 auto;
				input{
					margin:0 auto;
				}
				input[type="submit"]{
					margin:0 auto !important;
					margin-top:10px !important;
				}
			}
			a{
				margin:0 auto;
			}
			.screen-header{
				width:80%;
				max-width:681px;
				right:0%;
			}
			.excel-icon{
				bottom:-50px;
			}
		}
		@media (max-width: 610px) {
			//padding-bottom:430px;
			//min-height:660px;
			h1{
				margin-top:0px;
			}
		}
		@media (max-width: 400px) {
			//padding-bottom:430px;
			//min-height:520px;
			h1{
				margin-top:0px;
			}
			.screen-header{
				display:none;
			}
			h1{
				margin-top:0px;
			}
			.blue-btn{
				font-size:14px;
			}
			.excel-icon{
				display:none;
			}
			&.excel-head{
				min-height:440px;
			}
		}
 	}
}
.why{
	background-color:#fafafa;
	ul{
		list-style:none;
		margin:0px;
		padding:0px;
		margin-top:10px;
		li{
			margin-bottom:20px;
			a{
				font-size:0.9em;
			}
		}
	}
	h3{
		margin-top:20px;
	}
	p{
		margin-top:5px;
	}
}
.index, .summer{
	.image-container{
		overflow:hidden;
		height:680px;
		z-index:1;
		width:100%;
		background: url('assets/headbg.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	  .header{
	  	margin-top:80px;
	  	a.buttonLook{
	  		color: white;
	  		margin-top: 10px;
	  		display: block;
	  		text-align: center;
	  		background-color:$blue;
	  		@include vendor-prefix(border-radius,3px);
	  		width:315px;
	  		max-width: 100%;
	  		height:40px;
	  		line-height: 40px;

	  		@include vendor-prefix(transition, all 0.2s ease-in);
	  		&:hover{
	  			text-decoration: none;
	  			background-color:#37afeb;
	  		}
	  	}
	  	.termsLink{
	  		@include vendor-prefix(border-radius,3px);
	  		background-color: rgba(0,0,0,0.4);
	  		max-width:315px;
	  		padding:10px;
	  		color: white;
	  		font-size: 0.8em;
	  		margin-top:10px;
	  		a{
	  			color: white;
	  			text-decoration: underline;
	  		}
	  	}
	  }
	  h1,h2{
	  	color:white;
	  }
	  h2{
	  	font-size:1.3em;
	  	margin-bottom:20px;
	  }
	}
}
.summer{
	.feature{
		a{
			color:$darkgrey;
			text-decoration: underline;
		}
	}
	.featherlight-content{
		background:none !important;
	}
	.featherlight-close-icon{
		background-color:white !important;
		@include vendor-prefix(border-radius,30px);
		padding-top:1px;
	}
	.image-container{
		background: url('assets/summer-bg.jpg');
		background-position:50% 50%;
		a{
			color:white;
			text-decoration:underline;
		}
	}
	.numbered{
		padding-top:0px;
	}
	.number{
		background-color:$darkgrey;
		color:white;
		padding:10px;
		padding-left:15px;
		padding-right:15px;
		overflow: hidden;
		@include vendor-prefix(border-radius,30px);
		float:left;
		margin-right:10px;
		&.wide{
			padding-left:14px;
			padding-right:14px;
		}
	}
	.screens{
		float:left;
		width:155px;
		margin-right:35px;
		&:last-child{
			margin-right:0px;
		}
		&:hover{
			cursor:pointer;
			img{
				border:5px solid $blue;
			}
			p{

			}
		}
		img{
			@include vendor-prefix(border-radius, 200em);
			border:5px solid white;
			width:155px;
			height:155px;
			cursor:pointer;
			margin-bottom:10px;
			display:block;
			@include vendor-prefix(transition, all 0.2s ease-in);
		}
		p{
			color:white;
			margin-top:0px;
		}
	}
	@media (max-width: 1090px) {
		.screens{
			width:100px;
			img{
				width:120px;
				height:120px;
			}
		}
	}
	@media (max-width: 425px) {
		.image-container{
			.header{
				margin-top:0px;
				padding-top:20px;
			}
		}
		.screens{
			width:100%;
			clear:both;
			img{
				width:110px;
				height:110px;
				float:left;
				margin-top:5px;
			}
			p{
				text-align:left;
				padding-left:10px;
				float:left;
				clear:right;
				width:50%;
				margin-top:50px;
			}
			.two-lines{
				margin-top:33px;
			}
			.three-lines{
				margin-top:23px;
			}
		}
	}
}
.guld{
	.image-container{
		position:relative;
		background: url('../video-image.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:680px;
	}
	.goldHead{
		position:relative;
		min-height:729px;
		overflow:hidden;
		background-color:transparent;
		.row{
			z-index:5;
			position:relative;
		}
		img.gold-logo{
			margin-top:90px;
		}
		h1{
			margin-top:40px;
			margin-bottom:20px;
		}
		.subheader{
			margin-bottom:35px;
		}
		.button{
			font-size:16px;
			padding:8px;
			padding-left:20px;
			padding-right:20px;
		}
	}
	.gold-video{
		height:100%;
		width:100%;
		position:absolute;
		z-index:0;
		opacity:0;
		top:0px;
		@include vendor-prefix(transition, all 0.5s ease-in);
	}
	.show-video{
		opacity:1;
	}
	.family{
		h2{
			margin-top:50px;
		}
	}
	.portrait{
		text-align: center;
		img{
			margin:0 auto;
			width:100%;
		}
	}
	.quote{
		font-family: georgia, sans-serif;
		font-style:italic;
		font-size:1.4em;
		margin-top:0px;
	}
	.author{
		font-weight:600;
		font-size:1.4em;
		margin-bottom:0px;
	}
	.margin-top40{
		margin-top:40px;
	}
}
.include-quote{
	background-color:#f7f7f7;
}
.phone-top{
	h2{
		margin-top:250px;
		@media (max-width: 772px) {
			margin-top:50px;
		}
	}
}
.hand-phone{
	position:relative;
	min-height:650px;
	.text-con{
		background:rgba(0,0,0,0.8);
		padding:30px;
		h2, p{
			color:white;
		}
		@media (max-width: 992px) {


		}
	}
}
.hand-phone-img-wrap{
	background: url(../assets/mobile/phone-bg.jpg);
	background-position: left center;
	background-size:cover;
	position:absolute;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	top:0px;
	@media (max-width: 992px) {
		position:relative;
		width:100%;
		height:500px;
		margin-top:-95px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	/* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	/* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	/* Don't forget your Retina CSS! */

	body {
		background-size: 72px 72px;
	}
	.phone-head{
		.iphone-profile{
			background-image:url("assets/iphone-profile@2x.png");
			background-size: contain;
		}
	}
	.phone{
		overflow:hidden;
		.phone5c{
			background:url('assets/iphone5c@2x.png') center center;
			background-size:contain;
			height:647px;
			width:1500px;
			max-width:100%;
		}
	}
}
