.modal-dialog{

}
.modal-header{
	h3{
		margin:0px;
	}
}
.modal-body{
	padding:0px;
	padding-bottom:1px;
	.errorBox{
		display:none;
	}
	p{
		font-size:14px;
	}
	label{
		display:block;
		font-size:16px;
		font-weight:600;
		margin-top:20px;
		&:first-child{
			margin-top:0px;
		}
		&.noshow{
			display:inline-block;
			font-weight:400;
			margin-left:10px;
			font-size:14px;
		}
		&.noshow{
			margin-top:10px;
		}
		&.inline{
			display:inline-block;
			margin-left:10px;
		}
	}
	input{
		border:1px solid #B0B0B0;
		height:30px;
		font-size: 12px;
		width:75px;
		margin-right:10px;
		margin-top:5px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		&.time{
			text-align: center;
		}
		&.end-time{
			margin-left:10px;
		}
		&[type="checkbox"]{
			height:auto;
			width:auto;
			margin-right:0px;
			margin-top:0px;
		}
	}
	textarea{
		width:100%;
		font-size:12px;
		resize:none;
		border:1px solid #B0B0B0;
		padding:10px;
		margin-top:5px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
}
.modal-footer{
	height:35px;
  .save-modal{
    background-color:$blue;
    border:0px;
    border: 1px solid #126C99;
    border-radius:0 0 5px 0;
    color:white;
    height:37px;
    padding-left:30px;
    padding-right:30px;
    margin-right:-1px;
    margin-top:-1px;
    cursor:pointer;
    font-family: "proxima-nova",sans-serif;
    font-size:14px;
    outline:none;
    @include vendor-prefix(transition, all 0.1s ease-in-out);
    &:hover{
      opacity:0.9;
    }
    &:active{
      opacity:1;
    }
  }
  .close-modal{
  	float:left;
    background-color:white;
    border:0px;
    border: 1px solid #ddd;
    border-bottom:0px;
    border-left:0px;
    border-radius:0 0 0 5px;
    color:$darkgrey;
    height:36px;
    padding-left:30px;
    padding-right:30px;
    margin-left:0px;
    margin-top:-1px;
    cursor:pointer;
    font-family: "proxima-nova",sans-serif;
    font-size:14px;
    outline:none;
    @include vendor-prefix(transition, all 0.1s ease-in-out);
    &:hover{
    	background-color:#f5f5f5;
    }
    &:active{
      opacity:1;
    }
  }
}
.modal-content{
	@include vendor-prefix(box-shadow, 0 3px 10px rgba(0, 0, 0, 0.2)!important);
}
.navbar-toggle{
	border:0px !important;
}