.content-btn{
	color:white;
	background: $blue;
	margin:10px;
	padding-top:10px;
	paddng-bottom:10px;
	height:auto;
	&:hover{
		opacity:0.8;
	}
}

.no-decoration{
	text-decoration:none;
	&:hover{
		text-decoration:none;
	}
}

.blue-btn-lg{
	margin:0 auto;
	border-radius: 3px;
	width:360px;
	height:40px;
	max-width:100%;
	text-align: center;
	padding-top:8px;
	margin-top:20px;
	margin-bottom:20px;
	display:block;
	background: #229BD8;
	border: 1px solid #1A88C0;
	-moz-box-shadow:    0px 2px 4px 0px rgba(12,103,149,0.23);
	box-shadow:         0px 2px 4px 0px rgba(12,103,149,0.23);
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	@include vendor-prefix(transition, all 0.2s ease-in);
	text-decoration: none;
	&:hover{
		text-decoration:none;
		color:white;
		background-color:#2CA3DF;
	}
}

.btn{
	text-decoration: none;
}
