img.smartplan-safari{
	@media (max-width: 772px) {
		margin-top:30px;
	}
}
img.scheduling-feature{
	width:700px;
	margin-left:-360px;
	@media (max-width: 772px) {
		width:100%;
		margin-left:auto;
		margin-bottom:30px;
	}
}
img.iphone-profile{
	margin-top:-220px;
	margin-bottom:-120px;
	@media (max-width: 772px) {
		margin-top:30px;
	}
}
img.logbook-feature{
	width:700px;
	margin-left:-280px;
	@media (max-width: 772px) {
		width:100%;
		margin-left:auto;
		margin-bottom:30px;
	}
}
img.phone-and-chat{
	width:550px;
	margin-left:-130px;
}
img.paper-roster{
	width:600px;
	margin-top:-120px;
	@media (max-width: 1200px) {
		width:450px;
		margin-top:-80px;
	}
	@media (max-width: 992px) {
		width:90%;
		margin-top:0px;
		margin:0 auto;
	}
}
.notification-con{
	img{
		margin-bottom:10px;
		margin-top:0px;
	}
}
img.template-schedule{
	width:700px;
	margin-left:-240px;
	@media (max-width: 1200px) {
		max-width:100%;
		margin-left:0px;
	}
	&.right{
		margin-left:0px;
	}
}
.border{
	border:1px solid #E0E0E0;
}
.center{
	img{
		margin-bottom:10px;
	}
	.excel-export-hours{
		@media (max-width: 772px) {
			margin-bottom:40px;
		}
	}
}
