

/* Colors */
//$colorCollection: (#D00010, #FEC641, #63C13B, #FE0016, #5C6C94, #6B0D05, #7D0006, #DB1913, #FEE34A, #2F8A27); 
//$colorCollection: (#F4A43B, #0AB1AA, #FDFEE4, #F42618, #ADFEDD, #FF5F24, #FEF14F, #FD361B, #30398D, #FEE086);
$colorCollection: (#229BD8);

/* Config */
$lights: 100; // match lights in mark up
$textColor: #FFFFFF;
$totalAnimation: 3;
$lightSize: 30;
$blurLevel: 2;

/* Mixins */
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}
@mixin animation-support($property, $value) {
	@include experimental($property, $value, -moz, -webkit, -o, -ms, not -khtml, official);
}
@mixin animation($animation-1: default, $animation-2: false, $animation-3: false, $animation-4: false, $animation-5: false, $animation-6: false, $animation-7: false, $animation-8: false, $animation-9: false, $animation-10: false) {
	$animation: compact($animation-1, $animation-2, $animation-3, $animation-4, $animation-5, $animation-6, $animation-7, $animation-8, $animation-9, $animation-10);
	@include animation-support(animation, $animation);
}


/* Pretty Lights */
.bokeh{
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: -50px;
  left: -25px;
}

.light{
	position: absolute;
	border-radius: 50%;
	opacity: 0;
}
$i: 150;
@for $i from 1 through $lights{
	$lightWidth: $lightSize + random(25);
	$lightHeight: $lightWidth;
	$lightVertical: random();
	$lightHorizontal: random();
	$lightBlur: $blurLevel + random($blurLevel);
	$lightDelay: 10 + random(25);
	$animation: 1 + random($totalAnimation);

	.light:nth-child(#{$i}){
		width: $lightWidth + px;
		height: $lightHeight + px;
		top: #{$lightVertical + "%"};
		left: #{$lightHorizontal + "%"};
		background: nth($colorCollection, random(length($colorCollection))+1);
		@include filter(blur($lightBlur + px ));
		@include animation(#{$lightDelay + s} #{"light" + $animation} linear infinite);
	}
}

@for $i from 1 through $totalAnimation{
	@include keyframes(light#{$i}){
		25%{
			opacity: (25 + random(50)) * 0.01;
		}
		50%{
			opacity: 0;
		}
		75%{
			opacity: (25 + random(50)) * 0.01;
		}
		100%{
			opacity: 0;
		}
	}
}
