@media (max-width: 1294px) {

}
@media (max-width: 885px) {
  .feature{
    img{
      max-width:45px;
    }
  }
}
@media (max-width: 991px) {
  .sm-hide{
    display: none;
  }
  section{
    padding-bottom:95px;
    padding-top:95px;
  }
  .functionHead{
    text-align: center;
    img{
      margin-top:25px;
      max-width:100%;
    }
  }
  .phone-head{
    img{
      margin:0 auto;
    }
  }
  .margin{
    margin-bottom:35px;
  }
  .nav-icon{
    display:none;
  }
 
}

// @media (max-width: 771px) {
//   nav{
//     ul{
//       display:block;
//       margin-top:0px;
//       width:100%;
//       li{
//         display:block;
//         float:left;
//         width:33%;
//         margin-left:0px;
//         font-size:14px;
//         .btn{
//           font-size:12px;
//         }
//         a{
//           margin:0 auto;
//         }
//         &:last-child{
//           margin-left:0px;
//         }
//       }
//     }
//   }
//   .right{
//     float:left;
//   }
//   .logo-con{
//     width:100%;
//   }
//   .xsm-hide{
//     display: none;
//   }
//   .quote-block{
//     .avatar{
//       margin:0 auto;
//     }
//     .author, .quote{
//       text-align:center;
//     }
//   }
//   .nav-icon{
//     display:block;
//   }
//   section{
//     padding-bottom:95px;
//     padding-top:95px;
//   }
//   nav{
//     position:relative;
//     .menu-on{
//       height:280px;
//     }
//     ul{
//       top:0px;
//       left:-10px;
//       margin-top:0px;
//       padding-top:0px;
//       position:absolute;
//       background-color:white;
//       width:100%;
//       width: -webkit-calc(100% + 20px);
//       width: -moz-calc(100% + 20px);
//       width: -o-calc(100% + 20px);
//       width: calc(100% + 20px);
//       height:0px;
//       z-index:8;
//       @include vendor-prefix(transition, all 0.3s ease-in-out);
//       li{
//         width:100%;
//         text-align:left;
//         border-top:1px solid lightgrey;
//         a{
//           width:100%;
//           display:block;
//           padding-top:15px;
//           padding-bottom:15px;
//           padding-left:17px;
//         }
//         &:first-child{
//           padding-top:0px;
//         }
//         &:last-child{

//         }
//       }
//     }
//     .li-btn{
//       width:100%;
//       .btn{
//         padding-top:15px;
//         padding-bottom:15px;
//         padding-left:15px;
//         display:block;
//         height:auto;
//         font-size:14px;
//         @include vendor-prefix(border-radius,0px);
//       }
//     }
//   }
// }
// @media (max-width: 440px) {
//   .nav-icon{
//     right:0px;
//     top:0px;
//     padding-left:25px;
//     padding-right:8px;
//     padding-top:25px;
//     padding-bottom:50px;
//     .title{
//       display:none;
//     }
//   }
// }
@media (max-width: 625px) {
  .footer_con{
    padding-bottom:25px;
    height:auto;
    ul{
      padding-left:0px;
      li{
        width:100%;
        margin-left:0px;
      }
    }
  }
}
@media (min-width: 992px) {
  .nav-icon{
    display:none;
  }

}