.blue-btn{
	a{
		padding-left:0px !important;
		//padding-right:0px !important;
	}
}
.btn{
	height:25px;
	line-height:18px;
	@include vendor-prefix(border-radius, 3px);
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	display:block;
	margin-top:-2px;
	color:white !important;
	text-decoration:none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-weight:700;
	font-size:13px;
	@include vendor-prefix(transition, all 0.2s ease-in);
}
.btn.trial-btn{
	background-color:$green;
	&:hover{
		background-color:$hover-green;
	}
}
.btn.log-btn{
	background-color:$blue;
	&:hover{
		background-color:$hover-blue;
	}
}

.language-picker{
	padding-left:0px !important;
}
.navbar-brand{
	margin-top:7px;
	margin-bottom:22px;
}
.navbar{
	border:0px;
	background:white;
	margin-bottom:0px;
}
.navbar-nav{
	margin-top:15px;
}
.sidebar-nav {
    padding: 9px 0;
}
@media (max-width: 767px) {
	.dropdown-menu{
		display: block;
		position: relative;
		float:none;
		border:0px;
		box-shadow: none;
		li{
			a{
				line-height: 45px;
				color:#A2A2A2;
				font-weight:300;
				background-color:#F9F9F9;
				border-bottom:1px solid white;
			}
		}
	}
	.btn{
		height:auto;
		line-height:45px;
	}
	.blue-btn{
		a{
			padding-left:10px !important;
		}
	}
	.navbar-toggle{
		margin-top:19px;
	}
}
@media (max-width: 992px) {
	.logo{
		width:170px;
		margin-top:6px;
	}
}
@media (min-width: 768px) {
	.dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	}
	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	    margin-top: 0;
	}

	.navbar .sub-menu:before {
	    border-bottom: 7px solid transparent;
	    border-left: none;
	    border-right: 7px solid rgba(0, 0, 0, 0.2);
	    border-top: 7px solid transparent;
	    left: -7px;
	    top: 10px;
	}
	.navbar .sub-menu:after {
	    border-top: 6px solid transparent;
	    border-left: none;
	    border-right: 6px solid #fff;
	    border-bottom: 6px solid transparent;
	    left: 10px;
	    top: 11px;
	    left: -6px;
	}

}
@media (max-width:767px){
	.language-picker{
		display:none !important;
	}
}
@media (max-width:992px){
	.navbar{
		li{
			a{
				padding-left:10px;
				padding-right:10px;
			}
		}
	}
}

.flag-nav{
	padding-top:15px;
	padding-bottom:15px;
	display: block;
	@media (max-width: 767px){
		display: none;
	}
}
