.punch{
	h1,h2{
		font-size:32px;
		//font-weight:300;
		@media (max-width:992px){
			font-size:24px;
		}
	}
	h2{
		font-size:28px;
		@media (max-width:800px){
			.number{
				display:block;
				margin:0 auto;
				margin-bottom:10px;
				font-size:28px;
			}
			font-size:18px;
			line-height:20px;
		}
	}
	.subheader{
		font-size:16px;
		line-height:23px;
	}
}
.punch-header{
	@extend .blue-background-header;
	overflow: hidden;
	.punch-ipad{
		margin-top:35px;
		float:left;
		margin-bottom:-100px;
		@media (max-width:992px){
			margin-bottom:-50px;
		}
	}
}

.selector{
	span{
		font-size:26px;
		text-decoration: underline;
		cursor:pointer;
		color:#B3B3B3;
		&:hover{
			text-decoration: none;
		}
		&:first-child{
			margin-right:30px;
		}
		&.active{
				color:$blue;
		}
	}
}

.stepguide{
	margin-top:100px;
	@media (max-width:800px){
		margin-top:50px;
	}
}

.step-number{
	width:70px;
	height:70px;
	text-align: center;
	line-height:70px;
	margin-right:20px;
	background-color:#1583BB;
	color:white;
	display: inline-block;
	border-radius:70px;
	&.red{
		background-color:$punch-red;
	}
	&.green{
		background-color:$punch-green;
	}
}

.second-row{
	margin-top:40px;
	@media (max-width:992px){
		margin-top:0px;
	}
}
