$s_red: #C8472A;
$b_red:#A01919;
$green: #579C22;
$s_blue: #3874E3;
$b_blue: #1B4695;
$s_green: #40B51A;
$b_green:#297B0E;
$lightgrey:#9B9B9B;
$darkgrey:#4A4A4A;
$lightgrey:#9B9B9B;
@mixin left($distance){
	float:left;
	margin-left: $distance;
}
@mixin circle(){
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	border-radius: 50em;
}
.shift-plan{
	overflow:hidden;
	.sell-shift-container{
		.available{
			font-weight:600;
		}
		.available-img{
			width:50px;
			height:50px;
			background-color:$blue;
			@include circle();
			display:block;
			float:left;
			margin-right:10px;
			position:relative;
			img{
				position:absolute;
				left:50%;
				top:50%;
				width:28px;
				margin-left:-14px;
				margin-top:-10px;
			}
		}
		button{
			line-height:14px;
			margin-left:10px;
			font-size:12px;
		}
	}
	.faces-shift-container{
		padding-bottom:10px;
	}
	.faces-shifts{
		overflow:hidden;
		list-style:none;
		margin-bottom:0px;
		padding-left:15px;
	}
	.faces-list{
		overflow:hidden;
		float:left;
		margin-right:20px;
		margin-bottom:10px;
		line-height: 50px;
		font-size:14px;
	}
	.img-colour{
		@include left(0px);
		@include circle();
		display:block;
		margin-top: 1px;
		margin-right: 7px;
		border: 3px solid;
	}
	.job-colour{
		@include left(0px);
		@include circle();
		display:block;
		width:10px;
		height:10px;
		margin-top: 1px;
		margin-right: 7px;
		border: 1px solid;
	}
	.job-colour.color-1{
		background-color:$s_red;
		border-color:$s_red;
	}
	.job-colour.color-2{
		background-color:$s_blue;
		border-color:$s_blue;
	}
	.job-colour.color-3{
		background-color:$s_green;
		border-color:$s_green;
	}
	.img-colour.color-1{
		background-color:$s_red;
		border-color:$b_red;
	}
	.img-colour.color-2{
		background-color:$s_blue;
		border-color:$s_blue;
	}
	.img-colour.color-3{
		background-color:$s_green;
		border-color:$s_green;
	}
	position:relative;
	.arrow{
		position:absolute;
		right:188px;
		top:59px;
	}
	h2{
		font-size:20px;
	}
	.filter{
		margin-top: 45px;
		width: 1054px;
		
		border-top: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
		padding:10px;
		padding-bottom:10px;
		padding-left:0;
		overflow:hidden;
		font-size:14px;
		ul{
			margin:0;
			overflow:hidden;
			padding-left:0px;
		}
		li{
			float:left;
			list-style: none;
			margin-right:10px;
			padding:3px;
			padding-left:10px;
			padding-right:10px;
			font-size:13px;
			opacity:1;
			border:1px solid transparent;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			@include vendor-prefix(transition, all 0.2s ease-in-out);
			.badge{
				padding:2px;
				color:white;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.31);
				font-size:11px;
				padding-left:6px;
				padding-right:6px;
				text-decoration:none;
				margin-left:3px;
				background: $blue;
				@include vendor-prefix(border-radius, 15px);
				border: 1px solid #0D6896;
				-moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.32), inset 0px 0px 1px 1px rgba(255,255,255,0.32);
				-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.32), inset 0px 0px 1px 1px rgba(255,255,255,0.32);
				box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.32), inset 0px 0px 1px 1px rgba(255,255,255,0.32);
			}
		}
		li:hover{
			cursor: pointer;
			border:1px solid #e7e7e7;
			opacity:1;
			@include vendor-prefix(border-radius, 50px);
		}
		.filter-description{
			font-weight: 700;
			color:$darkgrey;
			font-size:14px;
			text-decoration:none;
		}
		.filter-description:hover{
			border:1px solid transparent;
		}
		.my-shifts{
			border-right:1px solid #e7e7e7;
		}
		.selected{
			opacity:1;
			border:1px solid $lightgrey;
			@include vendor-prefix(border-radius, 50px);
		}
		.selected:hover{
			border:1px solid $lightgrey;
		}
	}
	.container{
		width:100%;
		margin: 0 auto;
		margin-top:20px;
		
		border-collapse: collapse;
	}
	.top-table{
		display:table;
		width:100%;
	}
	.top-row{
		display:table-row;
		width:100%;

	}
	.day-row{
		width:100%;
		background-color: #fff;
		border: 1px solid #d3d3d3;
	}
	.day-row.hidden{
		display:none;
	}
	.week-table{
		display: table;
		width:100%;

		.hidden{
			display:none;
		}
	}
	.week-row {
		display:table-row;
		width: 100%;
		border: 1px solid #d3d3d3;
		background-color: white;
	}
	.day-des{
		display:table-cell;
		min-width:140px;
		text-align:center;
		color:$lightgrey;
		cursor:pointer;
		.date-con{
			overflow:hidden;
			p.day-name{
			//float:left;
			font-size:14px;
			font-weight: 700;
			margin-top:5px;
			margin-bottom:5px;
			line-height:14px;
			}
			p.date-number{
				padding-top:2px;
				font-size:12px;
				margin-bottom: 5px;
				margin-top: 5px;
				line-height: 12px;
			}
			.date-hidden{
				display:none;
				font-weight:400;
				font-size:12px;
				padding-left:5px;
			}
			.backWeek{
				display:none;
			}
		}
	}
	.day-content {
		display:table-cell;
		width:140px;
		vertical-align: top;
		border-left:1px solid #d3d3d3;
		.day-box{
			min-width: 140px;
			.time-block{
				background-color: #f8f8f8;
				font-weight: 600;
				color:#686868;
				font-size:13px;
				border-bottom: 1px solid #d3d3d3;
				border-top: 1px solid #d3d3d3;
				padding:6px;
				// -webkit-transition: all .3s ease-in;
				@include vendor-prefix(transition, all .3s ease-in);
			}
			.time-block.dimmed{
				opacity:0.2;
			}
			.time-block.first{
				border-top:0px;
			}
			.time-cell.first{
				border-top:0px;
			}
			.shift-container{
				padding-bottom:20px;
				.no-shifts{
					text-align:center;
					font-size: 13px;
				}
			}
			.shifts{
				list-style:none;
				margin:0;
				margin-top:2px;
				margin-left:3px;
				font-size:14px;
				padding:6px;
				padding-bottom:0px;
				.shift{
					// -webkit-transition: all .3s ease-in;
					@include vendor-prefix(transition, all .3s ease-in);
					margin-bottom:5px;
				}
				.shift.dimmed{
					opacity:0.2;
				}
				.bold{
					font-weight:bold;
					opacity:1.0;
				}

			}
		}
	}
}