
.signup{
	h2{
		font-weight:600;
		//font-size:25px;
		color:$darkgrey;
		//line-height: 28px;
	}
	section{
		padding-bottom:55px;
		padding-top:55px;
	}
	@extend .punch !optional;
	.header{
		@extend .blue-background-header !optional;
		h1{
			font-size:32px;
			margin-bottom:50px;
			font-weight:600;
			@media (max-width:992px){
				font-size:26px;
			}
		}
	}
	.benefits{
		color:$darkgrey;
		margin-top:45px;
		h3{
			font-size:22px;
			font-weight:bold;
			@media (max-width: 1200px){
				font-size:17px;
			}
		}
		ul{
			font-size:22px;
			//font-weight:300;
			margin-left:20px;
			padding-left:0px;
			@media (max-width: 1200px){
				font-size:17px;
			}
			li{
				margin-bottom:7px;
				letter-spacing: -0.6px;
				&.small{
					font-size:14px;
					list-style:none;
					font-weight:500;
					display: none;
				}
			}
		}
		@media (max-width: 992px){
			h3{
				margin-top:30px;
			}
			ul{
				list-style: none;
			}
		}
	}
}

.signup-panel{
	max-width:425px;
	margin: 0 auto;
	padding:20px;
	background: #FFFFFF;
	border: 6px solid #E5E5E5;
	box-shadow: 0px 2px 7px 0px rgba(173,173,173,0.17);
	border-radius: 3px;
	.termsLink{
		display: block;
		text-align: center;
	}
	label{
		width:100%;
		color:$darkgrey;
		font-size:18px;
		font-weight:500;
		.unhappyMessage{
			color:$red;
			font-size:12px;
			margin-top:-5px;
			text-align: right;
			display: block;

		}
	}
	input{
		margin-top:5px;
		width:100%;
		background: #FFFFFF;
		border: 1px solid #CFCFCF;
		box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
		border-radius: 3px;
		height:40px;
		font-size:16px;
		&.unhappy{
			border:1px solid $red;
		}
		&:hover{
			border:1px solid $blue;
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.08);
		}
		&:focus{
			border:1px solid $blue;
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.08);
		}
	}
	button{
		width:100%;
		font-size:17px;
	}
	p.termsLink{
		margin-bottom:0px;
	}
}

.price-plan{
	float:left;
	border:1px solid #D8D8D8;
	border-right:0px;
	width:33.33%;
	text-align: center;
	padding:5px;
	padding-top:30px;
	padding-bottom:30px;
	color:$darkgrey;
	font-weight:300;
	&:last-child{
		border-right:1px solid #D8D8D8;
	}
	.price{
		display: block;
		width:100%;
		font-size:40px;

	}
	.price-detail{
		font-size:18px;
	}
	@media (max-width:992px){
		.price{
			font-size:25px;
		}
		.price-detail{
			font-size:14px;
		}
	}
	@media (max-width:650px){
		width:50%;
		&:first-child{
			width:100%;
			border-right:1px solid #D8D8D8;
			border-bottom:0px;
		}
	}
}

#focusCompany{
	font-size:22px;
	color:$blue;
	text-decoration: underline;
	cursor: pointer;
}

.signup-include{
	font-weight:600;
	font-size:22px;
	span{
		margin-right:10px;
	}
	.btn-style{
		width:auto;
		display: inline-block;
	}
}
