.testimonials{
	.person-con{
		margin-top:40px;
		overflow: hidden;
	}
	.person-wrap{
		padding:15px;
		border-top:2px solid $green;
		overflow: hidden;
		background-color:#fbfbfb;
		a{
			display: block;
			color:$green;
		}
	}
	p{
		margin:0px;
	}
	.author{
		font-size: 18px;
		color: #000000;
		font-weight:600;
		margin-top:15px;
	}
	.author-titel{
		opacity: 0.49;
		line-height: 14px;
		font-size: 14px;
		color: #000000;
	}
	.avatar{
		width:75px;
		height:75px;
		float:left;
		margin-right:10px;
	}
	.quote{
		display: block;
		overflow: hidden;
		float:left;
		margin-top:15px;
		font-style:italic;
	}
}
.quote.blue{
	@extend .quote;
	color:$blue;
	padding:10px;
	font-size:1.4em;
	font-family:georgia, sans-serif;
	font-style: italic;
}

.testimonial-header{
	//border:2px solid $green;
	color:$green;
	padding:10px;
	font-size:23px;
}
