$green: #40B51A;
$red: #C94825;
$blue: #229BD8;
$hover-blue:#37AFEB;
$darkgrey: #4A4A4A;
$lightblue:#67A7D3;
$hover-green:#6CB632;
$font:#727272;
$border:#EDEDED;

$punch-green:#7ED321;
$punch-red:#F05D6E;

@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

@mixin sm-center($margin-top){
	@media (max-width: 767px) {
		text-align:center;
		h1{
			margin-top:$margin-top;
		}
	}
}

.margin-top-20{
	margin-top:20px;
}

.margin-top-40{
	margin-top:40px;
}

.blue-background-header{
	background-color: #fafcfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 252, 253)), to(rgb(218, 234, 241)));
	background-image: -webkit-linear-gradient(top, rgb(250, 252, 253), rgb(218, 234, 241));
	background-image: -moz-linear-gradient(top, rgb(250, 252, 253), rgb(218, 234, 241));
	background-image: -o-linear-gradient(top, rgb(250, 252, 253), rgb(218, 234, 241));
	background-image: -ms-linear-gradient(top, rgb(250, 252, 253), rgb(218, 234, 241));
	background-image: linear-gradient(top, rgb(250, 252, 253), rgb(218, 234, 241));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fafcfd', EndColorStr='#daeaf1');
}
