.wish-expl{
	text-align: center;
	.wish-screen{
		margin:0 auto;
		position:absolute;
		top:0px;
	}
	.transparent{
		opacity:0;
	}
	.bio-con{
		overflow: hidden;
	}
	.bio{
		/* Rectangle 233: */
		background: #FFFFFF;
		border: 1px solid #E1E1E1;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.11);
		border-radius: 3px;
		margin-bottom:20px;
		text-align: center;
		padding:15px;
		opacity:0.5;
		@include vendor-prefix(transition, all 0.2s ease-in);
		@media (max-width: 600px){
			img{
				display: none;
			}
		}
		&.selected{
			opacity: 1;
			border: 1px solid rgba(33,155,215,0.55);
		}
		&:hover{
			cursor: pointer;
			opacity: 1;
		}
		.name{
			display: block;
			margin-top:15px;
			font-weight: 600;
			color:$darkgrey;
		}
		p{
			font-size: 13px;
			margin-bottom:0px;
		}
		@media (max-width: 992px) {
			width:48%;
			float: left;
			padding:10px;
			text-align: left;
			img{
				width:10%;
				float:left;
				margin-right:10px;
				margin-top:5px;
			}
			.name{
				margin-top:0px;
			}
			p{
				display: block;
				overflow:hidden;
				margin-top:5px;
			}
			&:first-child{
				margin-right:2%;
			}
		}
	}
}