<section class="quote-block guld include-quote">
<div class="row">
  <div class="col-md-3 col-md-offset-2 col-xs-12 col-sm-3 col-sm-offset-2">
    <img src="<!-- @path anne.png -->" class="img-responsive avatar"/>
  </div>
  <div class="col-md-6 col-md-offset-0 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-sm-6">
    <p class="author">Anne Juhl, Guldsmedgaard</p>
    <p class="quote">"Smartplan var nemt at gå til og det har reduceret tiden jeg bruger på at lægge vagtplaner betydeligt. De ansatte får overblik over hvornår de skal arbejde og kan nemt bytte vagter."</p>
    <a href="guldsmedgaard.html">Læs mere om hvordan Smartplan bruges af Guldsmedgaard</a>
  </div>
</div>
</section>