<section class="quote-block guld include-quote">
<div class="row">
  <div class="col-md-3 col-md-offset-2 col-xs-12 col-sm-3 col-sm-offset-2">
    <img src="/assets/mette.png" class="img-responsive avatar"/>
  </div>
  <div class="col-md-6 col-md-offset-0 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-sm-6">
    <p class="author">Mette Kousgaard, fairbar</p>
    <p class="quote">"It was amazing to get rid of Excel. I save a lot of time on planning and my bartenders can always see their shifts on their Smartphones."</p>
  </div>
</div>
</section>
