<section>
	<div class="row">
		<div class="col-md-12 center">
			<h2>Smartplan already has hundreds of satisfied customers.</h2>
		</div>
	</div>
	<div class="row center clients">
		<ul>
			<li class="ribehoej"><a href="http://www.ribehoej.dk/" target="_blank"><img src="/assets/clients/ribehoej_logo.png"/></a></li>
			<li class="hungry"><a href="http://www.hungry.dk" target="_blank"><img src="/assets/clients/hungry_logo.png" /></a></li>
			<li><a href="http://www.skechers.com/" target="_blank"><img src="/assets/clients/skechers_logo.png" /></a></li>
			<li class="rasoi"><a href="http://www.rasoi.dk/" target="_blank"><img src="/assets/clients/rasoi_logo.png" /></a></li>
			<li class="fur"><a href="http://www.furcamping.dk/" target="_blank"><img src="/assets/clients/fur_logo.png" /></a></li>
		</ul>
	</div>
</section>
