  <section class="communication-sneak">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="<!-- @path msg.png -->" class="img-responsive"/>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Avoid misunderstandings with easy and fast communication.</h2>
        <span class="subheader">Send out important messages via email and text.</span>
        <p>Write messages and important information relevant for a specific date or time inside your roster. Avoid misunderstandings and make sure the important information is available to the right employees.</p>
        <span class="badge">Text</span><span class="badge">Email</span>
        <p>Make sure your employees get the message. Send your message out as an email, text or both.</p>
        <a href="employee-schedule.html">Read more</a>
      </div>
    </div>
  </section>