<section class="excel-upload-widget">
	<div class="row">
		<div class="col-md-12 center">
			<h2>Overvejer du Smartplan, men hænger du fast i en gammel vagtplan?</h2>
			<span class="subheader">Lad os klare opsætningen, det er gratis og uforpligtende.</span>
			<p>Vi ved det kan være langsommeligt at komme igang med nye systemer. Derfor tilbyder vi at sætte Smartplan gratis op for dig, så du nemt kan prøve om Smartplan er noget for dig. Det eneste det kræver er at I sender jeres nuværende vagtplan (i Excel, Word eller PDF) og kontakt mail til os.</p>
			<span class="upload">Send vagtplan</span>
			<a href="https://smartplan.dk/signup/">Eller opret selv en konto og prøv Smartplan gratis i 1 måned</a>
		</div>
	</div>
	<div id="upload-excel" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <div class="modal-header">
	            <h3 class="modal-title">Send os din vagtplan</h3>
	        </div>
	        <iframe src="/upload/"></iframe>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Luk</button>
	        </div>
	      </div>
	      
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>