<section class="excel-upload-widget">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 center">
			<img class="excel-icon" src="<!-- @path excel-icon@2x.png -->" width="122"/>
			<h2>Træt af at have dine vagtplan i Excel?</h2>
			<span class="subheader">En vagtplan hører ikke til i Excel, få det op i skyen og leve, med Smartplan</span>
			<p>Smartplan kan hjælpe dig med at få timeoverblik, byttevagter, tilgå vagtplanen på mobilen, få den lagt i kalenderen osv.</p>
			<a href="excel-online-vagtplan.html">Læs hvordan du kan komme fri af Excel</a>
		</div>
	</div>
</section>