<section class="whatToGet no-border no-top-padding">
  <div class="row">
    <div class="col-xs-12 center col-md-offset-2 col-sm-12 col-md-8">
      <h2>Learn more about our features</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="employee-schedule.html">Online Employee Schedule</a></h3>
      <p>Smartplan allows you to easily make changes, examine details and swap shifts - all functions are just a few clicks away.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="employee-schedule-template.html">Easy Scheduling</a></h3>
      <p>Smartplan’s many functions make scheduling an easy and simple task and allow you to become a successful planner.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="smartplan-on-phone-and-tablet.html">Phone & Tablet</a></h3>
      <p>Find what you need, when you need it - Smartplan is available on all smartphone platforms and tablets. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="hours-overview-logbook.html">Logbook</a></h3>
      <p>Manage and register time attendance and wages smoothly with Smartplan Log Book.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="smartplan-magic.html">Smartplan Magic</a></h3>
      <p>Let Smartplan Magic help you draft your employee schedule with your inputs and requests from your employees.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 feature">
      <h3><a href="communication-with-smartplan.html">Easy Communication</a></h3>
      <p>Communicate easily with your employees via the online scheduling system, texts and emails.</p>
    </div>
  </div>
</section>
