<section class="why">
  <div class="row">
    <div class="col-md-12">
      <h2>Why are Smartplan and my business the perfect match?</h2>
    </div>
    <div class="col-md-6 col-sm-6">
      <h3>We will do the work for you</h3>
      <p>It’s too inconvenient to switch from Excel or your current system. Don’t worry – with Smartplan you will be up and running in minutes</a></p>
      <h3>Because you need software that works</h3>
      <p>Want an online schedule that works? Smartplan is the solution!</p>
      <h3>Because price matters</h3>
      <p>Low prices and no commitment are important to you and you don’t need unnecessary functions.</p>
      <h3>Flexibility, ease and simplicity</h3>
      <p>Smartplan is your tool for easy, flexible scheduling. Get to know our simple system in no time.</p>
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-6">
      <h3>Smartplan features</h3>
      <ul>
        <li><a href="employee-schedule.html" translate="yes">Online Employee Schedule</a></li>
        <li><a href="employee-schedule-template.html" translate="yes">Easy Scheduling</a></li>
        <li><a href="smartplan-on-phone-and-tablet.html" translate="yes">Phone and Tablet</a></li>
        <li><a href="hours-overview-logbook.html" translate="yes">Smartplan Log Book</a></li>
        <li><a href="smartplan-magic.html" translate="yes">Smartplan Magic</a></li>
        <li><a href="communication-with-smartplan.html" translate="yes">Easy Communication</a></li>
    </div>
  </div>
</section>
