	</div>

	<div class="container small-footer">
		<div class="row">
			<div class="col-md-6">
				<p><b>Smartplan</b></p>
				<p><a href="about-us.html">About</a></p>
				<p><a href="https://trysmartplan.com/blog/">Blog</a></p>
				<p><a href="mailto:support@trysmartplan.com">support@trysmartplan.com</a></p>
				<p>Mejlgade 48C, Aarhus C, Denmark</p>
			</div>
			<div class="col-md-6 right">
				<ul>
					<li><a href="https://www.facebook.com/smartplanscheduling"><img src="/assets/social/Facebook.png"></li>
					<li><a href="https://www.linkedin.com/company/smartplan-employee-schedule"><img src="/assets/social/LinkedIN.png"></li>

				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	   try {
	   	var oImg=document.createElement("img");
	   	var ref = "https://smartplanapp.io/account/signup_tracker/?ref=" + document.referrer;
	   	oImg.setAttribute('src', ref);
	   	oImg.setAttribute('alt', 'na');
	   	oImg.width='1';
	   	oImg.height='1';
	   	document.body.appendChild(oImg);
	   }
	   catch(err){
	   	pass
	   }

	 </script>
	<!--[if lt IE 9]>
		<script src="/assets/js/respond.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/retina-1.1.0.js"></script>
	<script type="text/javascript" src="/assets/js/featherLight.js"></script>
</body>

</html>
