  <section class="msg-iphone-desk">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <h2>Avoid misunderstandings with easy and fast communication</h2>
        <span class="subheader">Send out important messages on email and Text.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <img src="<!-- @path msg_iphone_desk.png -->" class="img-responsive"/>
      </div>
      <div class="col-md-4 col-sm-6">
        <p>Write messages and important information inside your roster, on the relevant day. Avoid misunderstandings and make sure the important information is available to the right employees.</p>
        <span class="badge">Text</span><span class="badge">Email</span>
        <p>Make sure your employees gets the message. Send your message out as an email, a Text or both.</p>
        <p><b>Mark a checkbox and Smartplan will take care of the rest.</b></p>
      </div>
    </div>
  </section>