<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="/assets/logo.svg" class="logo" alt="Smartplan"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="smartplan-features.html" class="no-dec" role="button" aria-haspopup="true" aria-expanded="false" translate="yes">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="employee-schedule.html" class="no-dec" translate="yes">Online employee schedule</a></li>
            <li><a href="simple-time-clock.html" class="no-dec" translate="yes">Smartplan Time</a></li>
            <li><a href="employee-schedule-template.html" class="no-dec" translate="yes">Easy scheduling</a></li>
            <li><a href="smartplan-on-phone-and-tablet.html" class="no-dec" translate="yes">Phone & Tablet</a></li>
            <li><a href="hours-overview-logbook.html" class="no-dec" translate="yes">Logbook</a></li>
            <li><a href="smartplan-magic.html" class="no-dec" translate="yes">Smartplan Magic</a></li>
            <li><a href="communication-with-smartplan.html" class="no-dec" translate="yes">Easy Communication</a></li>
          </ul>
        </li>
        <li><a href="price.html" class="no-dec" translate="yes">Pricing</a></li>
        <li><a href="https://trysmartplan.com/blog/" class="no-dec">Blog</a></li>
        <li><a href="contact.html" class="no-dec" translate="yes">Contact</a></li>
        <li class="li-btn green-btn"><a href="signup.html" class="no-dec"><span class="btn trial-btn" translate="yes">30-day Trial</span></a></li>
        <li class="li-btn blue-btn"><a href="https://smartplanapp.io/login/" class="no-dec"><span class="btn log-btn" translate="yes">Login</span></a></li>
        <li class="dropdown">
          <i class="flag-nav"><img src="/assets/flags/GB.png" translate="yes" translate-attrs="src" /><span class="caret"></span></i>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Select language</li>
            <li><a href="/" class="no-dec selected" translate="no"><img src="/assets/flags/GB1.png" translate="no"> English</a></li>
            <li><a href="/no/" class="no-dec" translate="no"><img src="/assets/flags/NO1.png" translate="no"> Norsk</a></li>
            <li><a href="/sv/" class="no-dec" translate="no"><img src="/assets/flags/SE1.png" translate="no"> Svenska</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
