<div class="ribbon no-border">
	<div class="row">
		<div class="col-md-12">
			<div class="news-item">
				<span class="news-icon badge">New</span>
				<a href="https://trysmartplan.com/blog/2015/01/05/A-letter-to-the-small-business-owner.html">Our Letter To the Small Business Owner who Hates Complicated Employee Schedules</a></div>
		</div>
	</div>

</div>
