  <section class="phone-sneak">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 phone-con">
        <img src="<!-- @path phone-front.png -->" class="phone" width="306"/>
      </div>
      <div class="col-md-6 col-sm-6 main-text">
        <h2>Never miss a thing. Put your employee schedule right in your pocket.</h2>
        <span class="subheader">Check your schedule, swap shifts and communicate, just by picking up your phone.</span>
        <p>Find what you need, when you need it. Smartplan is available on all smartphone platforms and all tablets.</p>
        <p>You can even add your shifts to your Google Calendar, iCal or Outlook. Whenever something changes, you won’t miss it. </p>
        <div class="phone-quote">
        <img src="<!-- @path mette.png -->" width="60">
          <div class="text">
            <p>"My employees mainly use Smartplan through their smartphones, it’s just that simple and quick to keep up-to- date, communicate and exchange shifts." - Mette Kousgaard</p>
            <img src="<!-- @path custom-fairbar.png -->" >
          </div>
        </div>
      </div>
    </div>
  </section>