  <section class="price-sneak">
    <div class="prices">
      <div class="col_1">
        <img src="<!-- @path small_shop.png -->" >
        <div class="price">$19/month</div>
        <div class="employees">Schedule up to 20 employees</div>
        <a href="https://smartplanapp.io/get-started/" class="plan-btn">Try Smartplan for free</a>
      </div>
      <div class="col_2">
        <img src="<!-- @path medium_shop.png -->" >
        <div class="price">$39/month</div>
        <div class="employees">Schedule up to 50 employees</div>
        <a href="https://smartplanapp.io/get-started/" class="plan-btn">Try Smartplan for free</a>
      </div>
      <div class="col_3">
        <img src="<!-- @path large_shop.png -->" >
        <div class="price">$59/month</div>
        <div class="employees">Schedule up to 100 employees</div>
        <a href="https://smartplanapp.io/get-started/" class="plan-btn">Try Smartplan for free</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="readmore" href="<!-- @path price.html -->">Read more about our pricing</a>
      </div>
    </div>
  </section>