	<div class="shift-plan">
	  <div class="container">
	      <div class="top-table">
	          <div class="top-row">

	              <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/1/" data-week-number="24">
	                  <div class="date-con">
	                      <p class="day-name">Mandag <span class="date-hidden">10. juni</span></p>
	                      <p class="date-number">10. juni</p>
	                      <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                  </div>
	              </div>

	              <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/2/" data-week-number="24">
	                  <div class="date-con">
	                      <p class="day-name">Tirsdag <span class="date-hidden">11. juni</span></p>
	                      <p class="date-number">11. juni</p>
	                      <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                  </div>
	              </div>

	              <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/3/" data-week-number="24">
	                  <div class="date-con">
	                      <p class="day-name">Onsdag <span class="date-hidden">12. juni</span></p>
	                      <p class="date-number">12. juni</p>
	                      <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                  </div>
	              </div>

	          </div>
	      </div>

	      <div class="week-table"><div class="week-row hidden" data-week-row="24" style="display: table;">


	          <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/1/">
	              <div class="day-box">


	                      <div class="time-block first">
	                          08:00 - 12:00
	                      </div>
	                      <div class="faces-shift-container">
	                          <ul class="faces-shifts">
	                            <li class="faces-list"><img src="assets/faces/1.jpg" width="50" height="50" class="img-colour color-2">Bjarne Jørgensen</li>
	                            <li class="faces-list"><img src="assets/faces/5.jpg" width="50" height="50" class="img-colour color-1">Rasmus Lund</li>
	                            <li class="faces-list"><img src="assets/faces/6.jpg" width="50" height="50" class="img-colour color-3">Mette Frederiksen</li>
	                          </ul>
	                      </div>

	                      <div class="time-block ">
	                          16:00 - 20:00
	                      </div>
	                      <div class="faces-shift-container">
	                          <ul class="faces-shifts">

	                              <li class="faces-list"><img src="assets/faces/3.jpg" width="50" height="50" class="img-colour color-2">Marie Magdalene</li>

	                              <li class="faces-list"><img src="assets/faces/8.jpg" width="50" height="50" class="img-colour color-1">Jan Elsing</li>

	                          </ul>
	                      </div>
	              </div>
	          </div>
	      </div>
	    </div>
	  </div>
	</div>