<div class="shift-plan">
	<div class="filter">
		<ul>
			<li class="filter-description">Highlight:</li>
			<li class="all selected">All</li>
			<li class="free-shifts" data-for-sale="true">Available
			</li>
			<li class="my-shifts" data-my-shift="true">My shifts</li>

			<li data-job-type="1" class=""><i class="job-colour color-1"></i>Service worker</li>

			<li data-job-type="2" class=""><i class="job-colour color-2"></i>Cashier</li>

			<li data-job-type="3" class=""><i class="job-colour color-3"></i>Driver</li>
		</ul>
	</div>
	<div class="container">
	    <div class="top-table">
	        <div class="top-row">

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/1/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Sunday <span class="date-hidden">10. June</span></p>
	                    <p class="date-number">10. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/2/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Monday <span class="date-hidden">11. June</span></p>
	                    <p class="date-number">11. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/3/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Tuesday <span class="date-hidden">12. June</span></p>
	                    <p class="date-number">12. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/4/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Wednesday <span class="date-hidden">13. June</span></p>
	                    <p class="date-number">13. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/5/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Thursday <span class="date-hidden">14. June</span></p>
	                    <p class="date-number">14. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/6/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Friday <span class="date-hidden">15. June</span></p>
	                    <p class="date-number">15. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	            <div class="day-des not_empty" data-day-url="/plans/2/weeks/24/days/7/" data-week-number="24">
	                <div class="date-con">
	                    <p class="day-name">Saturday <span class="date-hidden">16. June</span></p>
	                    <p class="date-number">16. June</p>
	                    <a href="#" class="backWeek" data-url="plans/2/weeks/">Tilbage til ugen</a>
	                </div>
	            </div>

	        </div>
	    </div>

	    <div class="week-table"><div class="week-row" data-week-row="24" style="display: table;">


	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/1/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="true" data-my-shift="false"><i class="job-colour color-2"></i>Helen Vincent</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>William Rodriguez</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="true" data-my-shift="false"><i class="job-colour color-3"></i>Available</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/2/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>Celina Simons</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift bold" title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="true"><i class="job-colour color-1"></i>Carol Henly</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="" data-my-shift="false"><i class="job-colour color-3"></i>Celina Simons</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/3/">
	            <div class="day-box">

	                <div class="shift-container">
	                    <p class="no-shifts">Closed</p>
	                </div>


	            </div>
	        </div>

	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/4/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>Grace Carter</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>William Rodriguez</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="" data-my-shift="false"><i class="job-colour color-3"></i>Helen Vincent</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/5/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>Helen Vincent</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Celina Simons</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="" data-my-shift="false"><i class="job-colour color-3"></i>Elizabeth Sanders</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        18:00 - 23:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift bold" title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="true"><i class="job-colour color-1"></i>Carol Henly</li>

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Celina Simons</li>

	                            <li class="shift " title="Bartender" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>William Rodriguez</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	        <div class="day-content 3" data-day-url="/plans/2/weeks/24/days/6/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>Helen Vincent</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Grace Carter</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="" data-my-shift="false"><i class="job-colour color-3"></i>Kevin Cramer</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        18:00 - 23:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift bold" title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="true"><i class="job-colour color-1"></i>Carol Henly</li>

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Celina Simons</li>

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Peter Jensen</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	        <div class="day-content 3last" data-day-url="/plans/2/weeks/24/days/7/">
	            <div class="day-box">


	                    <div class="time-block first">
	                        08:00 - 12:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Køkken" data-job-type="2" data-for-sale="" data-my-shift="false"><i class="job-colour color-2"></i>Helen Vincent</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        16:00 - 20:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>William Rodriguez</li>

	                            <li class="shift " title="Dørmand" data-job-type="3" data-for-sale="" data-my-shift="false"><i class="job-colour color-3"></i>Kevin Cramer</li>

	                        </ul>
	                    </div>

	                    <div class="time-block ">
	                        18:00 - 23:00
	                    </div>
	                    <div class="shift-container">
	                        <ul class="shifts">

	                            <li class="shift bold" title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="true"><i class="job-colour color-1"></i>Carol Henly</li>

	                            <li class="shift " title="Bartender" data-job-type="1" data-for-sale="" data-my-shift="false"><i class="job-colour color-1"></i>Celina Simons</li>

	                        </ul>
	                    </div>

	            </div>
	        </div>

	    </div></div>

	</div>
</div>