<section class="free-signup">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h2>It's easy and free to try your schedule online.</h2>
			<p>You will be up and running in minutes. No reason to call your IT-guy, anyone can figure it out.</p><p>Smartplan is free for the first 30 days, no credit card or contracts needed. This easy to use scheduling software is used every day around the world by bars, shops, security companies and many more. If you have any questions, feel free to contact us <a href="contact.html">here</a>.</p>
		</div>
		<div class="col-md-6 col-sm-6">
			<h3>Try it right now. Sign up for a free trial today:</h3>
  			<form action="https://smartplanapp.io/get-started/" method="post">
  				<input type="hidden" name="action"  value="email"/>
  				<input placeholder="Company name, organisation or person" name="account_title" type="text" />
	  			<input placeholder="Your Email address" name="account_user_email" type="text" />
	  			<input placeholder="Your password" name="account_user_password" type="password" />
	  			<button>Try Your Employee Schedule Online</button>
	  			<p class="termsLink">By signing up you agree to our <a href="<!-- @path terms.html -->" target="_blank">terms and conditions.</a></p>
  			</form>
		</div>
	</div>
</section>