<section class="map-signup">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 center">
			<h2>We are working hard to make Smartplan available to everyone, please signup for an invite.</h2>
			<a href="price.html">Learn more about Smartplan’s pricing</a>
		</div>
		<div class="col-md-12">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="http://webloftet.us2.list-manage.com/subscribe/post?u=361b3846248d4564994ee8597&amp;id=107e97aebc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" placeholder="Fill in email address" class="required email" id="mce-EMAIL">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_361b3846248d4564994ee8597_107e97aebc" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe to the Smartplan Waiting List" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>
	
</section>