<form id="signupForm" class="signup-panel" action="https://smartplanapp.io/signup/" method="post" translate-attrs="action">
    <input type="hidden" name="action" type="hidden" value="email"/>
    <label>
      <span translate="yes">Type Company Name</span>
      <input placeholder="Fx. Restaurant Italia" id="accountName" name="account_title" type="text" data-err="Please type a company name" autofocus translate="yes" translate-attrs="data-err"/>
    </label>
    <label>
      <span translate="yes">Type Email Address</span>
      <input placeholder="Fx. italia@email.com" name="account_user_email" type="text" id="email" data-err="Please type your email address" translate="yes" translate-attrs="data-err"/>
    </label>
    <label>
      <span translate="yes">Pick Your Password</span>
      <input placeholder="******" name="account_user_password" id="password" type="password" data-err="Please create your password" translate="yes" translate-attrs="data-err"/>
    </label>
    <button type="submit" translate="yes">Create free Smartplan account</button>

    <p class="termsLink">By signup up you agree to our <a href="terms.html" target="_blank">terms and conditions</a></p>
</form>
