<section class="no-border mini-section">
  <div class="row center">
    <a class="blue-btn-lg" href="signup.html" translate="yes">Try Smartplan for free</a>
    <a class="margin-top-20 underline" style="display:block" href="smartplan-features.html">Learn more about our features</a>
  </div>
</section>
