<section class="testimonials no-top-padding no-border">

	<div class="row">
		<div class="col-md-4 col-sm-4 person-con">
			<div class="person-wrap">
				<img src="/assets/mette.png" class="img-responsive avatar"/>
				<div class="contact-info">
					<p class="author">Mette Kousgaard</p>
					<p class="author-titel">Staff Manager at Fairbar</p>
				</div>
				<p class="quote">“It’s been amazing getting rid of Excel. Now, I save time on scheduling and the bartenders can access their schedules on their phones”.</p>
				<a href="fairbar-uses-smartplan.html">Read more</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 person-con">
			<div class="person-wrap">
				<img src="/assets/fristrupminde/mike.png" class="img-responsive avatar"/>
				<div class="contact-info">
					<p class="author">Mike Timmermann</p>
					<p class="author-titel">Fristrupminde Dairy farming</p>
				</div>
				<p class="quote">"We avoid misunderstandings now that we’re using online shift planning as opposed to static Excel planning. With Smartplan it only takes 5 minutes to make a new shift plan."</p>
				<a href="farmer-uses-smartplan.html">Read more</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 person-con">
			<div class="person-wrap">
				<img src="/assets/steffen.png" class="img-responsive avatar"/>
				<div class="contact-info">
					<p class="author">Steffen Bomholt</p>
					<p class="author-titel">Staff manager at Bar Smil</p>
				</div>
				<p class="quote">"Before we started using Smartplan, our scheduling process was very long. Now, it's fast and easy and I love the function that allows Smartplan to create my schedule based on the employees' and my needs"</p>
				<a href="bar-uses-smartplan.html">Read more</a>
			</div>
		</div>
	</div>
</section>
